In [603]:
import pyspark

In [2]:
import numpy as np

In [581]:
from pyspark.mllib.linalg.distributed import CoordinateMatrix
from pyspark.mllib.linalg.distributed import MatrixEntry
from pyspark.sql.types import *
from operator import add
from pyspark.mllib.linalg import Vectors, ArrayType

In [4]:
minimal_fields = [ 
          StructField("author", StringType(), True),
          StructField("score", LongType(), True),
          StructField("controversiality", LongType(), True),
          StructField("subreddit", StringType(), True)]

In [5]:
sj = sqlContext.read.json("s3a://insight-ohoidn/sample3.json", StructType(minimal_fields))

In [5]:
sj.printSchema()

root
 |-- author: string (nullable = true)
 |-- score: long (nullable = true)
 |-- subreddit: string (nullable = true)

In [115]:
sj.toPandas()

                 author  score             subreddit
0         stunt_penguin      1            Filmmakers
1             [deleted]      2           Addons4Kodi
2                 69ing      5         NotTimAndEric
3        ArchadianJudge      2                 Saber
4              sglville      2            The_Donald
5           NEWORLDODOR      3        JordanPeterson
6             zachwad22      1             AskReddit
7       lurker4lyfe6969      2              Military
8        SuburbanStoner      2                trashy
9            ensanguine     18   KitchenConfidential
10               p-wing      3                TagPro
11            Lolonnais      2                 DotA2
12  askingquestionsblog      1      PuzzleAndDragons
13          Newbieshoes      7    SecretWorldLegends
14            sking1225      2         SquaredCircle
15   PM_ME_WEIRD_SMILES      3                Tinder
16            Alvarez09      9                buccos
17          Synchrotr0n      1                brasil
18           rudolphsb9      2              niceguys
19       arbuthnot-lane      6                Norway
20               d3fect      1         d3fecttesting
21       relator_fabula      1             NYYankees
22               Knonkh      1                  acrl
23             zxj4k3xz      2               airsoft
24            [deleted]      1                loseit
25            [deleted]      1                 women
26       mcgregorshakes      2               RoastMe
27              kamekai     21              business
28          KarlOskar12     -3             runescape
29       CrimsonStone72      6           harrypotter
30            marflow75      4          solareclipse
31             Jechtael      2                   SCP
32         ChaoticLogix      1           techsupport
33                T1PPY      3                asoiaf
34           MdMa4Me247     15                  MDMA
35           Kanyeezy96      2          RocketLeague
36             19720703     11                   sex
37         flyingmunkie      1               airsoft
38          spartag00se      1             AskReddit
39         mrhomeless97      2               Trivium
40               Asquil      2                 anime
41            [deleted]      1              politics
42         whammydiddle      2                redsox
43             horsodox      1        DebateReligion
44            [deleted]      1             AskReddit
45             telebofh     23          pcmasterrace
46     sagittariuscraig      3             Retconned
47     PM_YOUR_HARDCOCK      1       comicbookmovies
48         sarahfearing      1             AskReddit
49              twojs1b      1             AskReddit
50              EBJ1990      0         SquaredCircle
51              x00drew      1  RocketLeagueExchange
52              mikemnm      1  RocketLeagueExchange
53          Blacktivism      1               Roadcam
54          Inoidzervit      4               CatGifs
55             Astonsfw      4               Bondage
56    the_orange_wizard     19        shittankiessay
57        noonespecific     20             starbound
58            CMikeHunt      2               halifax
59           Cosmodious      2                  ADHD
                    ...    ...                   ...

[1000000 rows x 3 columns]

In [6]:
sj.registerTempTable('test')

In [52]:
sqlContext.sql('select author from test').toPandas()

                 author
0         stunt_penguin
1             [deleted]
2                 69ing
3        ArchadianJudge
4              sglville
5           NEWORLDODOR
6             zachwad22
7       lurker4lyfe6969
8        SuburbanStoner
9            ensanguine
10               p-wing
11            Lolonnais
12  askingquestionsblog
13          Newbieshoes
14            sking1225
15   PM_ME_WEIRD_SMILES
16            Alvarez09
17          Synchrotr0n
18           rudolphsb9
19       arbuthnot-lane
20               d3fect
21       relator_fabula
22               Knonkh
23             zxj4k3xz
24            [deleted]
25            [deleted]
26       mcgregorshakes
27              kamekai
28          KarlOskar12
29       CrimsonStone72
30            marflow75
31             Jechtael
32         ChaoticLogix
33                T1PPY
34           MdMa4Me247
35           Kanyeezy96
36             19720703
37         flyingmunkie
38          spartag00se
39         mrhomeless97
40               Asquil
41            [deleted]
42         whammydiddle
43             horsodox
44            [deleted]
45             telebofh
46     sagittariuscraig
47     PM_YOUR_HARDCOCK
48         sarahfearing
49              twojs1b
50              EBJ1990
51              x00drew
52              mikemnm
53          Blacktivism
54          Inoidzervit
55             Astonsfw
56    the_orange_wizard
57        noonespecific
58            CMikeHunt
59           Cosmodious
                    ...

[1000000 rows x 1 columns]

In [572]:
sqlContext

In [469]:
occurrences = sqlContext.sql("""
select *, dense_rank() over (order by subreddit desc) as rid 
from  (SELECT subreddit, author, sum(sign(score)) as tally,\
    count(score) as activity, dense_rank() over (order by author desc) as uid
from test
group by subreddit, author)
where tally!=0
""").persist(StorageLevel.MEMORY_AND_DISK_SER)
occurrences.registerTempTable('occurrences')

In [470]:
def df_most_active_subreddits(k = 1000):
    most_active = sqlContext.sql("""
    select * from
        (select *, dense_rank() over (order by activity desc) as ordered_id
        from (select rid, subreddit, sum(activity) as activity
            from occurrences
            group by rid, subreddit))
    where ordered_id<=%s
""" % k).persist(StorageLevel.MEMORY_AND_DISK_SER)
    most_active.registerTempTable('most_active')
    return most_active

In [475]:
max_numreddits = 100
act = df_most_active_subreddits(max_numreddits)

In [476]:
act.toPandas()

      rid             subreddit  activity  ordered_id
0   16312             AskReddit     69641           1
1    2571              politics     18724           2
2   15972            BigBrother     17430           3
3    9395         SquaredCircle     14014           4
4    8796            The_Donald     11711           5
5    5120         gameofthrones     10861           6
6    3242                   nba      9613           7
7    5182                 funny      9236           8
8   10051  RocketLeagueExchange      8503           9
9     441                videos      7850          10
10    157             worldnews      7320          11
11   3995       leagueoflegends      6435          12
12   1597                soccer      5292          13
13   3349                movies      5246          14
14  14578                 DotA2      4874          15
15   9646        Showerthoughts      4824          16
16   3170                  news      4745          17
17   2691                  pics      4740          18
18   5109                gaming      4713          19
19  11995                   MMA      4414          20
20   1131             teenagers      4242          21
21    900         todayilearned      4140          22
22   4720           hearthstone      4085          23
23   2813           pathofexile      3923          24
24   2794          pcmasterrace      3778          25
25  10886       PUBATTLEGROUNDS      3769          26
26  10975             Overwatch      3721          27
27   7203              baseball      3706          28
28   7553                 anime      3704          29
29  11362             NYYankees      3636          30
30   7393                asoiaf      3608          31
31   2216         relationships      3605          32
32  10731           Philippines      3573          33
33  13999      FireEmblemHeroes      3346          34
34   3610                me_irl      3335          35
35   7291                   aww      3248          36
36   4940              gonewild      3085          37
37   6353            conspiracy      2957          38
38   5003                  gifs      2939          39
39   5245              freefolk      2918          40
40  15912    BlackPeopleTwitter      2918          40
41  14984       DBZDokkanBattle      2907          41
42   4662           hiphopheads      2887          42
43   2052       rupaulsdragrace      2762          43
44   3491     mildlyinteresting      2737          44
45  10274              Rainbow6      2675          45
46   7328             australia      2662          46
47   5618             ethtrader      2646          47
48  13525       GlobalOffensive      2617          48
49   8818          TheSilphRoad      2578          49
50   1059           thebachelor      2547          50
51  13524  GlobalOffensiveTrade      2535          51
52  15934               Bitcoin      2501          52
53   6783              buildapc      2382          53
54   1128               teenmom      2378          54
55   3150                   nfl      2279          55
56  16615                   Amd      2272          56
57   2164          rickandmorty      2162          57
58  15065         CringeAnarchy      2150          58
59   2604             pokemongo      2139          59
      ...                   ...       ...         ...

[106 rows x 4 columns]

In [477]:
def df_valid_users(min_subreddits = 2, max_subreddits = 20):
    """
    filter users by the number of subreddits they've posted in, among the above-defined most active subreddits
    """
    most_active_users = sqlContext.sql("""
    select * from
        (select author, count(subreddit) as count
        from 
            (select * from occurrences
            where subreddit in (select subreddit from most_active))
        group by author
        order by count desc)
    where count>=%d and count<=%d""" % (min_subreddits, max_subreddits)).persist(StorageLevel.MEMORY_AND_DISK_SER)
    most_active_users.registerTempTable('most_active_users')
    return most_active_users

In [495]:
act_users = df_valid_users(min_subreddits = 4)

In [496]:
act_users.toPandas()

                  author  count
0           JeopardyQBot     19
1             _youtubot_     18
2       Mentioned_Videos     17
3          imguralbumbot     17
4             HelperBot_     16
5            RemindMeBot     16
6             LinkFixBot     15
7        youtubefactsbot     12
8              Gyazo_Bot     11
9           timezone_bot     11
10                  up48     10
11         defiantPossum     10
12             AltimaNEO     10
13              O_Apples     10
14   AsksAStupidQuestion     10
15             Allenba77     10
16          sneakpeekbot     10
17          anti-gif-bot     10
18        DeniseDeNephew      9
19  the_leprechauns_anus      9
20      polynomialpusher      9
21         reelect_rob4d      9
22           gazongas001      9
23          MisanthropeX      8
24           spockspeare      8
25            rubermnkey      8
26    pimpmastahanhduece      8
27        flappingpiegon      8
28             RazorRush      8
29             GClooney1      8
30             DivX_Greg      8
31             wirefires      8
32                nimo01      8
33         hutchandstuff      8
34          female_lenin      8
35            chevymonza      8
36        TotesMessenger      8
37          Not_Just_You      8
38     theoptionexplicit      8
39                kuhvir      8
40          chasebrendon      8
41    SmartestIdiotAlive      8
42            SaintsNoah      8
43        One_Hot_Minute      8
44           CaptnCarl85      8
45           ArrowRobber      8
46             qe_locura      8
47  POOTER_SHOOTSQUIRTER      8
48    SeriouslyWhenIsHL3      8
49            kiwiking44      8
50           LemmysGhost      8
51   TweetsInCommentsBot      8
52             oscarveli      8
53                wpiman      7
54         redpandaeater      7
55   long_wang_big_balls      7
56             iambluest      7
57          hardspank916      7
58         doubleflusher      7
59    dickfromaccounting      7
                     ...    ...

[1369 rows x 2 columns]

In [497]:
test2 = sqlContext.sql("""
select test.author, test.score, test.controversiality, test.subreddit, most_active.ordered_id as ordered_id
from test
inner join most_active on most_active.subreddit=test.subreddit""")
test2.registerTempTable('test2')

In [498]:
occurrences_pruned = sqlContext.sql("""
select *
from  (SELECT test2.subreddit, author, test2.ordered_id, sum(score) as tally,\
    sum(abs(score)) as activity, dense_rank() over (order by author desc) as uid
    from test2
    where author in (select author from most_active_users)
    group by test2.subreddit, test2.ordered_id, author)
where tally!=0
""").persist(StorageLevel.MEMORY_AND_DISK_SER)
occurrences_pruned.registerTempTable('occurrences_pruned')

In [499]:
occurrences_pruned.toPandas()

           subreddit               author  ordered_id  tally  activity  uid
0      relationships              zylithi          32      3         3    1
1        legaladvice              zylithi          67      4         4    1
2           politics              zylithi           2      1         1    1
3          AskReddit              zylithi           1     14        14    1
4         BigBrother      zotsandcrambles           3      7         7    2
5          pokemongo      zotsandcrambles          59     19        19    2
6      todayilearned      zotsandcrambles          22      8         8    2
7           freefolk      zotsandcrambles          40     10        10    2
8           politics                zetec           2     15        15    3
9                nfl                zetec          55      6        28    3
10              news                zetec          17     42        42    3
11             funny                zetec           8      2         2    3
12        neoliberal             yungkerg          83      2         2    4
13               nba             yungkerg           7    138       138    4
14       hiphopheads             yungkerg          42      1         1    4
15          politics             yungkerg           2     -8        18    4
16        television               ythms2          63      1         1    5
17       LifeProTips               ythms2          90      2         2    5
18              news               ythms2          17    166       166    5
19               MMA               ythms2          20      3         3    5
20               aww   youwontevenbelieve          36      1         1    6
21              pics   youwontevenbelieve          18      1         1    6
22         AskReddit   youwontevenbelieve           1      6         6    6
23              gifs   youwontevenbelieve          39      3         3    6
24                de      youtubefactsbot          99      9         9    7
25       teslamotors      youtubefactsbot          87      2         2    7
26          freefolk      youtubefactsbot          40      5         5    7
27         ethtrader      youtubefactsbot          47     10        10    7
28     SquaredCircle      youtubefactsbot           4     20        20    7
29        grandorder      youtubefactsbot          82      1         1    7
30          FORTnITE      youtubefactsbot          78      2         2    7
31          Warframe      youtubefactsbot          88     25        25    7
32       pathofexile      youtubefactsbot          24     10        10    7
33             ffxiv      youtubefactsbot          61      2         2    7
34     CringeAnarchy      youtubefactsbot          58     13        13    7
35  FireEmblemHeroes      youtubefactsbot          34      1         1    7
36      pcmasterrace             youshedo          25      9         9    8
37         worldnews             youshedo          11      2         2    8
38         Overwatch             youshedo          27     -2         2    8
39               WTF             youshedo          73      5         5    8
40              pics  youreabigbiasedbaby          18    128       128    9
41             funny  youreabigbiasedbaby           8     23        23    9
42              news  youreabigbiasedbaby          17     85        85    9
43              gifs  youreabigbiasedbaby          39     -1         3    9
44     OldSchoolCool  youreabigbiasedbaby          74      2         2    9
45            videos  youreabigbiasedbaby          10     12        12    9
46              news     youngjusticeperv          17      2         2   10
47          politics     youngjusticeperv           2    -15        17   10
48        The_Donald     youngjusticeperv           5     21        29   10
49        conspiracy     youngjusticeperv          38      2         2   10
50     CringeAnarchy     youngjusticeperv          58      2         2   10
51   leagueoflegends           younggun92          12      2         2   11
52          baseball           younggun92          28     41        41   11
53            soccer           younggun92          13     33        33   11
54         AskReddit           younggun92           1      4         4   11
55         worldnews          yoowtfman13          11     60        60   12
56         AskReddit          yoowtfman13           1      1         1   12
57        The_Donald          yoowtfman13           5      2         2   12
58              pics          yoowtfman13          18     -3         3   12
59     SquaredCircle          yognautilus           4     26        26   13
                 ...                  ...         ...    ...       ...  ...

[6540 rows x 6 columns]

In [501]:
bare_occurrences = sqlContext.sql("""
select ordered_id, uid, tally
from occurrences_pruned
""").persist(StorageLevel.MEMORY_AND_DISK_SER)

In [502]:
bare_occurrences.toPandas()

    ordered_id  uid  tally
0           32    1      3
1           67    1      4
2            2    1      1
3            1    1     14
4            3    2      7
5           59    2     19
6           22    2      8
7           40    2     10
8            2    3     15
9           55    3      6
10          17    3     42
11           8    3      2
12          83    4      2
13           7    4    138
14          42    4      1
15           2    4     -8
16          63    5      1
17          90    5      2
18          17    5    166
19          20    5      3
20          36    6      1
21          18    6      1
22           1    6      6
23          39    6      3
24          99    7      9
25          87    7      2
26          40    7      5
27          47    7     10
28           4    7     20
29          82    7      1
30          78    7      2
31          88    7     25
32          24    7     10
33          61    7      2
34          58    7     13
35          34    7      1
36          25    8      9
37          11    8      2
38          27    8     -2
39          73    8      5
40          18    9    128
41           8    9     23
42          17    9     85
43          39    9     -1
44          74    9      2
45          10    9     12
46          17   10      2
47           2   10    -15
48           5   10     21
49          38   10      2
50          58   10      2
51          12   11      2
52          28   11     41
53          13   11     33
54           1   11      4
55          11   12     60
56           1   12      1
57           5   12      2
58          18   12     -3
59           4   13     26
           ...  ...    ...

[6540 rows x 3 columns]

### Subreddit activity:

In [738]:
df_most_active_subreddits(10).toPandas()

     rid      subreddit  activity  ordered_id
0  16313      AskReddit   1143263           1
1   2571       politics    205263           2
2   5120  gameofthrones    183469           3
3    441         videos    170466           4
4  15973     BigBrother    156128           5
5    900  todayilearned    109733           6
6   3242            nba     97974           7
7   5109         gaming     95671           8
8   8796     The_Donald     94572           9
9   9396  SquaredCircle     94065          10

[10 rows x 4 columns]

In [91]:
tf_ij.entries.map(lambda entry: entry.i).distinct().count()

100

In [92]:
gf_i.numCols()

1L

In [93]:
tf_ij.numRows()

101L

In [877]:
act.toPandas()

      rid             subreddit  activity  ordered_id
0   16313             AskReddit   1143263           1
1    2571              politics    205263           2
2    5120         gameofthrones    183469           3
3     441                videos    170466           4
4   15973            BigBrother    156128           5
5     900         todayilearned    109733           6
6    3242                   nba     97974           7
7    5109                gaming     95671           8
8    8796            The_Donald     94572           9
9    9396         SquaredCircle     94065          10
10    157             worldnews     92249          11
11   9647        Showerthoughts     89979          12
12   1597                soccer     89922          13
13  15913    BlackPeopleTwitter     79467          14
14   5182                 funny     71400          15
15   2052       rupaulsdragrace     56712          16
16  14579                 DotA2     56291          17
17   3995       leagueoflegends     54405          18
18  10887       PUBATTLEGROUNDS     48084          19
19   2216         relationships     47053          20
20   5003                  gifs     46354          21
21   2691                  pics     46156          22
22   7291                   aww     43756          23
23   3144              niceguys     42981          24
24   7393                asoiaf     40126          25
25   8187                   WTF     40095          26
26   7203              baseball     38205          27
27   4720           hearthstone     37550          28
28   3170                  news     37293          29
29  11996                   MMA     35231          30
30   5607                europe     33584          31
31   1128               teenmom     32340          32
32   1059           thebachelor     31172          33
33  10549        PoliticalHumor     30229          34
34  16734         AdviceAnimals     27649          35
35   3349                movies     27032          36
36   2813           pathofexile     25909          37
37   5245              freefolk     25723          38
38   7553                 anime     25234          39
39  10976             Overwatch     24048          40
40   3491     mildlyinteresting     23958          41
41   2389      quityourbullshit     23146          42
42   2164          rickandmorty     23127          43
43   3953           legaladvice     22535          44
44   3610                me_irl     22504          45
45   7328             australia     22232          46
46   6131             dankmemes     22082          47
47  13526       GlobalOffensive     22008          48
48   6973       blackpeoplegifs     21522          49
49   4662           hiphopheads     21273          50
50   4380     interestingasfuck     21146          51
51  12164           LifeProTips     19540          52
52  14000      FireEmblemHeroes     18722          53
53  13085       HumansBeingBros     18623          54
54    797                trashy     18474          55
55  11215        NintendoSwitch     18107          56
56   6353            conspiracy     17815          57
57  14203  ExpectationVsReality     17815          57
58  15066         CringeAnarchy     17384          58
59   1120            television     17248          59
      ...                   ...       ...         ...

[101 rows x 4 columns]

In [154]:
bare_occurrences.toPandas()

    ordered_id  uid  tally
0           47    1     10
1           99    1      9
2           78    1      2
3           34    1      1
4           82    1      1
5           24    1     10
6           61    1      2
7           88    1     25
8           58    1     13
9           40    1      5
10          87    1      2
11           4    1     20
12          44    2      4
13           1    2      2
14          22    2      7
15          18    2      3
16           2    2      1
17           8    2      3
18          36    3     25
19          14    3      2
20          30    3    -19
21          38    3     49
22          28    3      8
23          19    3    121
24           1    4     14
25          10    4     -4
26          22    4      2
27          18    4      1
28          11    4      6
29           2    4      6
30           8    4    918
31           1    5      2
32          10    5      1
33          63    5     -3
34          16    5      4
35          18    5      2
36          76    5     10
37          40    5      6
38           8    5     16
39          44    6      3
40           1    6      4
41          35    6      1
42          16    6      1
43          57    6     19
44          76    6     84
45          40    6    207
46          67    7      5
47           1    7     14
48          10    7     40
49          97    7      8
50          22    7     15
51          17    7     31
52           8    7      1
53          36    8      2
54          66    8      6
55          99    8      1
56          17    8      1
57          16    8      1
58          11    8      2
59           2    8     17
           ...  ...    ...

[1629 rows x 3 columns]

In [167]:
bare_occurrences.rdd.map(lambda row: (row.ordered_id, (row.uid, row.tally))).sortByKey().collect()

[(1, (2, 2)),
 (1, (4, 14)),
 (1, (5, 2)),
 (1, (6, 4)),
 (1, (7, 14)),
 (1, (9, 1)),
 (1, (10, -2)),
 (1, (11, 2)),
 (1, (12, 5)),
 (1, (13, 75)),
 (1, (16, 29)),
 (1, (17, 307)),
 (1, (18, 3)),
 (1, (21, 79)),
 (1, (22, 21)),
 (1, (23, 2)),
 (1, (24, 2)),
 (1, (29, 36)),
 (1, (30, 6)),
 (1, (31, 22)),
 (1, (33, 17)),
 (1, (38, 37)),
 (1, (39, 8)),
 (1, (40, 2)),
 (1, (41, 1)),
 (1, (42, 17)),
 (1, (44, 21)),
 (1, (45, 15)),
 (1, (46, 2)),
 (1, (47, 14)),
 (1, (48, 9)),
 (1, (49, 12)),
 (1, (50, 12)),
 (1, (51, 2)),
 (1, (52, 1)),
 (1, (53, 16)),
 (1, (58, 1)),
 (1, (62, 16)),
 (1, (63, 9)),
 (1, (65, 17)),
 (1, (66, 7)),
 (1, (67, 12)),
 (1, (71, 15)),
 (1, (72, 8)),
 (1, (73, 10597)),
 (1, (74, 3)),
 (1, (75, 1031)),
 (1, (79, 1)),
 (1, (81, 167)),
 (1, (82, 6)),
 (1, (85, 2)),
 (1, (87, 1)),
 (1, (88, 57)),
 (1, (89, 1)),
 (1, (90, 47)),
 (1, (91, 14)),
 (1, (92, 48)),
 (1, (93, 16)),
 (1, (94, 1)),
 (1, (95, 4)),
 (1, (96, 10)),
 (1, (97, 4)),
 (1, (98, 3)),
 (1, (99, 111)),
 (1, (102, 32)),
 (1, (106, 5)),
 (1, (109, 8)),
 (1, (110, 6)),
 (1, (111, 2)),
 (1, (113, 1)),
 (1, (115, 11)),
 (1, (119, 6)),
 (1, (120, 7)),
 (1, (123, 1)),
 (1, (124, 17)),
 (1, (126, 2)),
 (1, (128, 1262)),
 (1, (129, 12)),
 (1, (132, 2)),
 (1, (134, 4)),
 (1, (135, 1)),
 (1, (136, 1)),
 (1, (138, 60)),
 (1, (139, 6)),
 (1, (140, 21)),
 (1, (141, 11)),
 (1, (143, 4)),
 (1, (144, 1)),
 (1, (145, 1)),
 (1, (146, 5)),
 (1, (147, 64)),
 (1, (148, 2)),
 (1, (149, 1)),
 (1, (150, 64)),
 (1, (151, 1)),
 (1, (153, 2)),
 (1, (156, 4)),
 (1, (157, 21)),
 (1, (159, 1)),
 (1, (161, 2)),
 (1, (162, 2)),
 (1, (163, 21)),
 (1, (165, 34)),
 (1, (167, 55)),
 (1, (168, 10)),
 (1, (169, 9)),
 (1, (170, 65)),
 (1, (173, 10)),
 (1, (174, 286)),
 (1, (175, 29)),
 (1, (176, 10)),
 (1, (177, 5)),
 (1, (178, 15)),
 (1, (180, 1)),
 (1, (181, 3)),
 (1, (182, 1)),
 (1, (183, -1)),
 (1, (184, 43)),
 (1, (186, 3)),
 (1, (189, 4)),
 (1, (190, 1)),
 (1, (191, -40)),
 (1, (192, 9)),
 (1, (193, 4)),
 (1, (194, 1)),
 (1, (196, 6)),
 (1, (198, 3)),
 (1, (199, 7)),
 (1, (201, 278)),
 (1, (202, 128)),
 (1, (203, 1)),
 (1, (205, 7)),
 (1, (206, 15)),
 (1, (208, 2834)),
 (1, (209, 27)),
 (1, (212, 1)),
 (1, (213, 33)),
 (1, (214, 6)),
 (1, (216, 13)),
 (1, (217, 7)),
 (1, (218, 12)),
 (1, (219, 3)),
 (1, (220, 30)),
 (1, (221, 4)),
 (1, (222, 13)),
 (1, (223, 4)),
 (1, (224, 1)),
 (1, (225, 190)),
 (1, (226, 11)),
 (1, (227, -1)),
 (2, (2, 1)),
 (2, (4, 6)),
 (2, (8, 17)),
 (2, (10, 1)),
 (2, (12, 62)),
 (2, (16, 2)),
 (2, (19, 3)),
 (2, (20, 13)),
 (2, (24, 1)),
 (2, (33, 36)),
 (2, (35, 42)),
 (2, (36, 19)),
 (2, (42, 5)),
 (2, (55, 2)),
 (2, (56, 4)),
 (2, (57, -1)),
 (2, (74, 13)),
 (2, (77, 5)),
 (2, (79, 1)),
 (2, (99, 11)),
 (2, (100, 38)),
 (2, (103, 3)),
 (2, (109, 36)),
 (2, (115, 173)),
 (2, (117, 1)),
 (2, (141, 1)),
 (2, (153, 6)),
 (2, (154, 1)),
 (2, (159, 17)),
 (2, (162, 7)),
 (2, (163, 1)),
 (2, (177, 125)),
 (2, (188, 28)),
 (2, (193, 1)),
 (2, (198, 40)),
 (2, (201, 15)),
 (2, (202, 64)),
 (2, (204, 17)),
 (2, (216, 11)),
 (2, (222, 97)),
 (3, (67, 3)),
 (3, (110, 1)),
 (3, (190, 4)),
 (3, (207, 1)),
 (4, (1, 20)),
 (4, (14, 13)),
 (4, (27, 12)),
 (4, (32, 3)),
 (4, (55, 10)),
 (4, (68, 3)),
 (4, (69, 2)),
 (4, (105, 16)),
 (4, (118, 22)),
 (4, (122, 3)),
 (4, (155, 9)),
 (4, (160, 3)),
 (4, (163, 1)),
 (4, (189, -1)),
 (4, (200, 2)),
 (5, (24, 15)),
 (5, (54, 2)),
 (5, (83, 6)),
 (5, (84, 58)),
 (5, (90, 13)),
 (5, (109, 58)),
 (5, (110, 5)),
 (5, (156, 6)),
 (5, (162, 2)),
 (5, (194, 4)),
 (5, (195, 3)),
 (6, (27, 94)),
 (6, (67, 36)),
 (6, (68, 23)),
 (6, (94, 6)),
 (6, (103, 39)),
 (6, (107, 13)),
 (6, (109, 4)),
 (6, (115, 30)),
 (6, (122, 1)),
 (6, (133, 575)),
 (6, (137, 8)),
 (6, (142, 3)),
 (6, (157, 37)),
 (6, (158, 1)),
 (6, (160, 3)),
 (6, (168, 1)),
 (6, (172, 1)),
 (6, (185, 11)),
 (6, (203, 1)),
 (6, (207, 2)),
 (6, (210, 1)),
 (6, (219, 294)),
 (7, (17, -3)),
 (7, (42, 11)),
 (7, (44, 52)),
 (7, (53, 21)),
 (7, (55, 37)),
 (7, (60, 3)),
 (7, (62, 1)),
 (7, (83, 2)),
 (7, (90, 1)),
 (7, (94, 3)),
 (7, (98, 2)),
 (7, (107, 111)),
 (7, (117, 5)),
 (7, (153, 1)),
 (7, (160, 10)),
 (7, (171, 3)),
 (8, (2, 3)),
 (8, (4, 918)),
 (8, (5, 16)),
 (8, (7, 1)),
 (8, (9, 1)),
 (8, (11, 10)),
 (8, (12, 1)),
 (8, (15, 19)),
 (8, (16, 16)),
 (8, (19, 1)),
 (8, (20, 152)),
 (8, (21, 5)),
 (8, (25, 4)),
 (8, (28, -15)),
 (8, (29, 10)),
 (8, (31, 2)),
 (8, (34, 6)),
 (8, (35, 167)),
 (8, (37, 8)),
 (8, (40, 44)),
 (8, (41, 2)),
 (8, (43, 3)),
 (8, (44, 66)),
 (8, (45, -2)),
 (8, (47, 4)),
 (8, (48, 3)),
 (8, (49, 1)),
 (8, (50, 501)),
 (8, (51, -3)),
 (8, (52, 3)),
 (8, (53, 20)),
 (8, (57, -1)),
 (8, (58, 3)),
 (8, (59, 4)),
 (8, (61, 5)),
 (8, (63, 2)),
 (8, (65, 19)),
 (8, (66, 2)),
 (8, (67, 3)),
 (8, (70, 66)),
 (8, (72, 5)),
 (8, (73, 10)),
 (8, (74, 17)),
 (8, (75, 3)),
 (8, (82, 7)),
 (8, (86, 1)),
 (8, (87, 11)),
 (8, (91, 3)),
 (8, (92, 4)),
 (8, (93, 3)),
 (8, (95, 3)),
 (8, (96, 2)),
 (8, (99, 9)),
 (8, (103, 1)),
 (8, (104, 1)),
 (8, (106, 3)),
 (8, (108, 2)),
 (8, (111, 1)),
 (8, (114, 4)),
 (8, (124, 18)),
 (8, (125, 1)),
 (8, (127, 1)),
 (8, (128, 34)),
 (8, (129, 6)),
 (8, (130, 3)),
 (8, (131, 19)),
 (8, (135, 8)),
 (8, (138, 2)),
 (8, (139, 78)),
 (8, (140, 11)),
 (8, (143, 2)),
 (8, (145, 17)),
 (8, (147, 345)),
 (8, (148, 7)),
 (8, (149, 2)),
 (8, (151, 8)),
 (8, (156, 21)),
 (8, (157, 3)),
 (8, (158, 1)),
 (8, (159, 2)),
 (8, (160, -6)),
 (8, (164, 1)),
 (8, (166, -17)),
 (8, (168, 4)),
 (8, (170, 1)),
 (8, (173, 3)),
 (8, (174, 1)),
 (8, (175, 5)),
 (8, (179, 3)),
 (8, (181, 3)),
 (8, (184, 32)),
 (8, (186, 2)),
 (8, (187, 11)),
 (8, (190, 1)),
 (8, (191, 4)),
 (8, (192, 3)),
 (8, (194, 1)),
 (8, (198, 1)),
 (8, (199, 47)),
 (8, (201, 3)),
 (8, (202, 18)),
 (8, (203, 3)),
 (8, (204, 6)),
 (8, (205, 3)),
 (8, (208, 10)),
 (8, (217, 35)),
 (8, (218, 1)),
 (8, (221, 7)),
 (8, (223, 2)),
 (8, (224, 2)),
 (9, (105, 1)),
 (9, (172, 3)),
 (10, (4, -4)),
 (10, (5, 1)),
 (10, (7, 40)),
 (10, (16, 2)),
 (10, (20, -9)),
 (10, (25, 38)),
 (10, (29, 8)),
 (10, (31, 4)),
 (10, (33, 3)),
 (10, (37, 4)),
 (10, (39, 1)),
 (10, (42, 1)),
 (10, (43, -1)),
 (10, (46, 1)),
 (10, (47, 1)),
 (10, (48, 10)),
 (10, (50, 1)),
 (10, (56, 57)),
 (10, (60, 1)),
 (10, (65, 2)),
 (10, (66, 1)),
 (10, (70, 1)),
 (10, (72, -1)),
 (10, (75, 11)),
 (10, (79, 1)),
 (10, (80, 1)),
 (10, (83, 1)),
 (10, (85, 3)),
 (10, (92, 24)),
 (10, (95, 15)),
 (10, (96, 2)),
 (10, (97, 6)),
 (10, (98, 3)),
 (10, (102, 4)),
 (10, (103, 1)),
 (10, (106, 10)),
 (10, (111, 1)),
 (10, (112, 1)),
 (10, (117, 1)),
 (10, (120, 1)),
 (10, (121, 1)),
 (10, (123, 61)),
 (10, (125, -4)),
 (10, (128, 10137)),
 (10, (132, 3)),
 (10, (144, 1)),
 (10, (148, 5)),
 (10, (150, 1)),
 (10, (155, 22)),
 (10, (158, 1)),
 (10, (160, 15)),
 (10, (161, 2)),
 (10, (162, 3)),
 (10, (163, 1)),
 (10, (165, 1)),
 (10, (166, 18)),
 (10, (175, 3)),
 (10, (176, 1)),
 (10, (177, 2)),
 (10, (178, -30)),
 (10, (179, 121)),
 (10, (184, 7)),
 (10, (185, 1)),
 (10, (186, 1)),
 (10, (187, 6)),
 (10, (194, 3)),
 (10, (195, 15)),
 (10, (197, 5)),
 (10, (200, -5)),
 (10, (201, 1)),
 (10, (204, 23)),
 (10, (211, 1)),
 (10, (212, 9)),
 (10, (214, 4)),
 (10, (215, 2)),
 (10, (217, 1)),
 (10, (220, 175)),
 (10, (221, 2)),
 (10, (224, 4)),
 (10, (227, 1)),
 (11, (4, 6)),
 (11, (8, 2)),
 (11, (10, 1)),
 (11, (11, -6)),
 (11, (26, -1)),
 (11, (30, 73)),
 (11, (35, -26)),
 (11, (37, 2)),
 (11, (43, 1)),
 (11, (51, 2)),
 (11, (52, -2)),
 (11, (59, 1)),
 (11, (66, 4)),
 (11, (71, 2)),
 (11, (75, 5)),
 (11, (82, 1)),
 (11, (85, 1)),
 (11, (86, -6)),
 (11, (87, 2)),
 (11, (89, 1)),
 (11, (99, 24)),
 (11, (100, 874)),
 (11, (104, 1)),
 (11, (119, 161)),
 (11, (126, 73)),
 (11, (140, -1)),
 (11, (149, 3)),
 (11, (153, 1)),
 (11, (154, 7)),
 (11, (163, 1)),
 (11, (165, 1)),
 (11, (167, 1)),
 (11, (172, 3)),
 (11, (179, 17)),
 (11, (181, 4)),
 (11, (182, 6)),
 (11, (192, 4)),
 (11, (195, 1)),
 (11, (198, 1)),
 (11, (201, 3)),
 (11, (202, 44)),
 (11, (210, 1)),
 (11, (211, 1)),
 (11, (220, 1)),
 (11, (222, 86)),
 (12, (11, 1)),
 (12, (14, 3)),
 (12, (27, 1)),
 (12, (68, 5)),
 (12, (118, 101)),
 (12, (142, 6)),
 (12, (145, 2)),
 (12, (206, 2)),
 (13, (68, 8)),
 (13, (116, 26)),
 (13, (117, 1)),
 (13, (163, 1)),
 (13, (171, 37)),
 (13, (172, 1)),
 (14, (3, 2)),
 (14, (15, 3)),
 (14, (18, 3)),
 (14, (25, -1)),
 (14, (37, 1)),
 (14, (39, 3)),
 (14, (45, 4)),
 (14, (48, 2)),
 (14, (49, 3)),
 (14, (75, 4)),
 (14, (83, 1)),
 (14, (84, 1)),
 (14, (90, 16)),
 (14, (126, 13)),
 (14, (127, 1)),
 (14, (131, 2)),
 (14, (132, 1)),
 (14, (138, 1)),
 (14, (139, 1)),
 (14, (142, 20)),
 (14, (154, 30)),
 (14, (164, 10)),
 (14, (165, 3)),
 (14, (166, 83)),
 (14, (170, 20)),
 (14, (187, 2)),
 (14, (193, 2)),
 (14, (202, 3)),
 (14, (220, 74)),
 (14, (222, 5)),
 (14, (225, 3)),
 (15, (14, 13)),
 (15, (32, 4)),
 (15, (60, 50)),
 (15, (68, 5)),
 (15, (108, 9)),
 (15, (118, 104)),
 (15, (155, 2)),
 (15, (172, 1)),
 (16, (5, 4)),
 (16, (6, 1)),
 (16, (8, 1)),
 (16, (12, 1220)),
 (16, (13, 3)),
 (16, (15, 2)),
 (16, (17, 3)),
 (16, (20, 5)),
 (16, (21, 17)),
 (16, (22, 5)),
 (16, (26, 12)),
 (16, (28, -1)),
 (16, (29, 5)),
 (16, (30, 1)),
 (16, (31, 5)),
 (16, (33, 2)),
 (16, (34, 3)),
 (16, (39, 1)),
 (16, (40, 2)),
 (16, (43, 1)),
 (16, (45, 6)),
 (16, (48, 37)),
 (16, (49, 4)),
 (16, (50, 2)),
 (16, (51, 4)),
 (16, (53, 4)),
 (16, (59, 3)),
 (16, (62, 3)),
 (16, (63, 5)),
 (16, (64, 25)),
 (16, (65, 23)),
 (16, (68, 1)),
 (16, (72, 1)),
 (16, (82, 47)),
 (16, (89, 1)),
 (16, (102, 4)),
 (16, (106, 3)),
 (16, (109, 11)),
 (16, (110, 6)),
 (16, (112, 2)),
 (16, (114, 1)),
 (16, (124, 8)),
 (16, (125, 53)),
 (16, (128, 11)),
 (16, (129, 7)),
 (16, (130, 1)),
 (16, (138, 4)),
 (16, (139, 2)),
 (16, (140, 4)),
 (16, (143, 1)),
 (16, (145, 6)),
 (16, (146, 3)),
 (16, (149, 3)),
 (16, (150, 15)),
 (16, (151, 4)),
 (16, (156, 1)),
 (16, (164, -43)),
 (16, (165, 1)),
 (16, (166, 8)),
 (16, (168, 1)),
 (16, (172, 2)),
 (16, (173, 2)),
 (16, (174, 5)),
 (16, (177, 3831)),
 (16, (178, 8)),
 (16, (185, 3)),
 (16, (186, 1)),
 (16, (192, 47)),
 (16, (198, 7)),
 (16, (200, 1)),
 (16, (203, 1)),
 (16, (205, 1)),
 (16, (206, 5)),
 (16, (209, 1)),
 (16, (213, 2)),
 (16, (215, 7)),
 (16, (217, 8)),
 (16, (218, 1)),
 (16, (221, -1)),
 (16, (223, 2)),
 (16, (225, 10)),
 (16, (226, 21)),
 (17, (7, 31)),
 (17, (8, 1)),
 (17, (11, 7)),
 (17, (13, 1)),
 (17, (25, 5)),
 (17, (30, 1)),
 (17, (37, 5)),
 (17, (41, 3)),
 (17, (49, 1)),
 (17, (52, 2)),
 (17, (56, 4)),
 (17, (57, 5)),
 (17, (58, 10)),
 (17, (76, 4)),
 (17, (80, 2)),
 (17, (88, 20)),
 (17, (115, 1868)),
 (17, (116, 3)),
 (17, (119, 3)),
 (17, (127, -8)),
 (17, (131, 77)),
 (17, (136, 3)),
 (17, (140, 1)),
 (17, (141, 5)),
 (17, (144, 13)),
 (17, (145, 2)),
 (17, (148, 82)),
 (17, (154, 2)),
 (17, (158, 1)),
 (17, (162, 26)),
 (17, (167, 3)),
 (17, (177, 4)),
 (17, (181, -10)),
 (17, (182, 6)),
 (17, (186, 1)),
 (17, (188, 1)),
 (17, (191, 21)),
 (17, (195, 1)),
 (17, (196, 2)),
 (17, (199, 1)),
 (17, (201, 2)),
 (17, (208, 18)),
 (17, (210, 16)),
 (17, (211, -2)),
 (17, (220, 1)),
 (17, (222, 2)),
 (17, (226, 3)),
 (17, (227, 1)),
 (18, (2, 3)),
 (18, (4, 1)),
 (18, (5, 2)),
 (18, (15, 5)),
 (18, (16, 2)),
 (18, (17, -5)),
 (18, (19, 1)),
 (18, (20, 1)),
 (18, (21, 5)),
 (18, (23, 3)),
 (18, (25, 3)),
 (18, (26, 1)),
 (18, (29, 11)),
 (18, (31, 3)),
 (18, (33, 5)),
 (18, (34, 10)),
 (18, (39, 1)),
 (18, (40, 3)),
 (18, (41, 1)),
 (18, (44, 16)),
 (18, (45, -8)),
 (18, (47, 8)),
 (18, (49, 4)),
 (18, (53, 2)),
 (18, (57, 2)),
 (18, (62, 4)),
 (18, (63, 1)),
 (18, (65, 14)),
 (18, (70, 1)),
 (18, (72, 3)),
 (18, (74, 1)),
 (18, (76, 4)),
 (18, (79, -9)),
 (18, (80, 6)),
 (18, (82, 1)),
 (18, (84, 1)),
 (18, (85, 1)),
 (18, (86, 5)),
 (18, (87, -1)),
 (18, (89, 1)),
 (18, (93, 4)),
 (18, (98, 1)),
 (18, (99, -3)),
 (18, (102, 1)),
 (18, (104, 1)),
 (18, (108, 27)),
 (18, (110, 2)),
 (18, (111, 3)),
 (18, (113, 3)),
 (18, (114, 7)),
 (18, (116, 1)),
 (18, (123, 4)),
 (18, (124, 384)),
 (18, (127, 1)),
 (18, (130, 9)),
 (18, (131, 1)),
 (18, (134, 3)),
 (18, (135, 3)),
 (18, (141, 2)),
 (18, (143, 171)),
 (18, (146, -3)),
 (18, (147, 137)),
 (18, (148, 1)),
 (18, (150, 4)),
 (18, (151, 4)),
 (18, (154, 6)),
 (18, (157, 11)),
 (18, (159, 4)),
 (18, (161, 8)),
 (18, (164, 1)),
 (18, (165, 1)),
 (18, (167, 1)),
 (18, (169, 3)),
 (18, (173, 3)),
 (18, (176, 1)),
 (18, (178, 2)),
 (18, (179, 59)),
 (18, (180, 2)),
 (18, (184, 14)),
 (18, (192, 1)),
 (18, (195, 74)),
 (18, (196, -4)),
 (18, (206, 3)),
 (18, (208, 1)),
 (18, (215, 1)),
 (18, (218, 1)),
 (18, (220, 7)),
 (18, (224, 1)),
 (18, (226, 3)),
 (19, (3, 121)),
 (19, (11, 1)),
 (19, (14, 3)),
 (19, (16, 59)),
 (19, (20, -12)),
 (19, (42, 1)),
 (19, (44, 63)),
 (19, (46, 3)),
 (19, (57, 386)),
 (19, (61, 3)),
 (19, (63, 12)),
 (19, (64, 1)),
 (19, (70, 1)),
 (19, (74, 1)),
 (19, (77, 1)),
 (19, (79, 10)),
 (19, (82, 1)),
 (19, (91, 2)),
 (19, (99, 132)),
 (19, (102, 2)),
 (19, (113, 1)),
 (19, (120, 2)),
 (19, (123, 10)),
 (19, (124, 7)),
 (19, (126, 14)),
 (19, (139, 4)),
 (19, (148, 31)),
 (19, (149, 1)),
 (19, (150, 1)),
 (19, (164, 1)),
 (19, (172, 4)),
 (19, (175, 6)),
 (19, (178, 2)),
 (19, (189, 2)),
 (19, (191, 5)),
 (19, (192, 4)),
 (19, (197, 23)),
 (19, (201, 4)),
 (19, (204, 7)),
 (19, (213, -40)),
 (19, (216, 3)),
 (19, (217, 7)),
 (19, (220, 21)),
 (19, (221, 12)),
 (19, (223, 1)),
 (19, (225, 4)),
 (20, (23, 3)),
 (20, (27, 188)),
 (20, (60, 1)),
 (20, (107, 18)),
 (20, (118, 3)),
 (20, (122, 1)),
 (20, (133, 30)),
 (20, (160, 26)),
 (20, (163, 1)),
 (21, (16, 23)),
 (21, (78, 1)),
 (21, (83, 2)),
 (21, (93, 1)),
 (21, (152, 10)),
 (21, (155, 2)),
 (21, (185, 1)),
 (22, (2, 7)),
 (22, (4, 2)),
 (22, (7, 15)),
 (22, (10, 4)),
 (22, (12, 891)),
 (22, (13, 274)),
 (22, (15, 11681)),
 (22, (17, 5)),
 (22, (19, 85)),
 (22, (20, 1)),
 (22, (26, 948)),
 (22, (28, 5)),
 (22, (29, 6)),
 (22, (30, 2)),
 (22, (35, 8)),
 (22, (38, 51)),
 (22, (45, 5)),
 (22, (51, -6)),
 (22, (52, 1)),
 (22, (57, 8)),
 (22, (58, 246)),
 (22, (61, 7)),
 (22, (62, 100)),
 (22, (67, 26)),
 (22, (73, 171)),
 (22, (76, 39)),
 (22, (77, 1)),
 (22, (80, 2)),
 (22, (93, 14)),
 (22, (95, 2)),
 (22, (97, 1)),
 (22, (99, 2)),
 (22, (110, 2)),
 (22, (116, 15)),
 (22, (123, 6)),
 (22, (125, 1)),
 (22, (127, 3)),
 (22, (128, 2)),
 (22, (129, 29)),
 (22, (130, 20)),
 (22, (131, 1)),
 (22, (135, 1)),
 (22, (138, 2)),
 (22, (140, 2)),
 (22, (144, 13)),
 (22, (147, -18)),
 (22, (159, 1)),
 (22, (161, 7)),
 (22, (166, 51)),
 (22, (167, 1)),
 (22, (168, 4)),
 (22, (179, 1)),
 (22, (181, 1)),
 (22, (186, 3)),
 (22, (188, 7)),
 (22, (189, 4)),
 (22, (191, 2)),
 (22, (192, -3)),
 (22, (196, 3)),
 (22, (199, 5)),
 (22, (202, 29)),
 (22, (204, 36)),
 (22, (208, 6)),
 (22, (209, -7)),
 (22, (211, 2)),
 (22, (214, 3)),
 (22, (215, 18)),
 (22, (216, 3)),
 (22, (217, 14)),
 (22, (218, 3)),
 (22, (220, 2)),
 (22, (224, 1)),
 (23, (68, 2)),
 (23, (94, 2)),
 (23, (137, 1)),
 (23, (155, 14)),
 (24, (1, 10)),
 (24, (96, 5)),
 (24, (101, 1)),
 (24, (105, 3)),
 (24, (137, 1)),
 (24, (155, 2)),
 (24, (190, 2)),
 (24, (193, 28)),
 (25, (56, 6)),
 (25, (81, 1)),
 (25, (84, 2)),
 (25, (88, 11)),
 (25, (101, 5)),
 (25, (131, 1)),
 (25, (137, 1)),
 (25, (150, 23)),
 (25, (155, 4)),
 (25, (158, 2)),
 (25, (163, 2)),
 (25, (183, 7)),
 (25, (185, 1)),
 (26, (14, 56)),
 (26, (36, 2)),
 (26, (69, 1)),
 (26, (96, 2)),
 (26, (101, 3)),
 (26, (108, 2)),
 (26, (137, 1)),
 (26, (145, 21)),
 (26, (172, -3)),
 (26, (185, 1)),
 (26, (197, 40)),
 (27, (14, -4)),
 (27, (63, 6)),
 (27, (70, 3)),
 (27, (78, 1)),
 (27, (81, 8)),
 (27, (101, 4)),
 (27, (109, 20)),
 (27, (137, 2)),
 (27, (155, 2)),
 (27, (172, -1)),
 (27, (182, 7)),
 (28, (3, 8)),
 (28, (28, 3)),
 (28, (44, 20)),
 (28, (77, 34)),
 (28, (107, 2)),
 (28, (119, 8)),
 (28, (137, 8)),
 (28, (171, 9)),
 (28, (207, 2)),
 (28, (219, 1)),
 (29, (18, 7)),
 (29, (220, 3)),
 (30, (3, -19)),
 (30, (32, 6)),
 (30, (77, 207)),
 (30, (119, 12)),
 (31, (67, 9)),
 (31, (90, 1)),
 (31, (95, 404)),
 (31, (103, 11)),
 (31, (122, 26)),
 (31, (136, 1)),
 (31, (142, 16)),
 (32, (22, 11)),
 (32, (31, 49)),
 (32, (139, 4)),
 (33, (54, 3)),
 (33, (133, 2)),
 (33, (172, 1)),
 (34, (1, 1)),
 (34, (68, 6)),
 (34, (69, 20)),
 (34, (152, 52)),
 (34, (185, 1)),
 (34, (190, 1)),
 (35, (6, 1)),
 (35, (120, 204)),
 (35, (133, 1)),
 (35, (136, 5)),
 (35, (151, 1)),
 (35, (169, 1)),
 (35, (227, 504)),
 (36, (3, 25)),
 (36, (8, 2)),
 (36, (9, 1)),
 (36, (10, 1)),
 (36, (13, 1)),
 (36, (22, 1)),
 (36, (25, 1)),
 (36, (33, 1)),
 (36, (35, 7)),
 (36, (37, 2)),
 ...]

In [503]:
i_sumtally_tuples = bare_occurrences.rdd.map(lambda row: (row.ordered_id, row.tally)).sortByKey()\
.reduceByKey(add)
gf_i = CoordinateMatrix(i_sumtally_tuples.map(lambda entry: (entry[0], 0, entry[1])))

# subreddit-activity matrix
tf_ij = CoordinateMatrix(bare_occurrences.rdd.map(lambda row: (row.ordered_id, (row.uid, row.tally))).sortByKey()\
.map(lambda entry: (entry[0], entry[1][0], entry[1][1])))
nusers = tf_ij.numCols()

p_ij = coordinate_matrix_elementwise_vector_division(tf_ij, gf_i)

# TODO figure out nan issues
logp_ij = coordinateMatrixElementwise(p_ij, lambda elt: np.log((abs(elt))/np.log(nusers)))

entropy_i = coordinateMatrixElementwise(coordinate_matrix_sumj(logp_ij), lambda elt: elt + 1) # + 1, but this has to be handled separately to conserve matrix sparsity

In [602]:
p_ij.numRows()

101L

In [506]:
tf_ij.numRows()

101L

In [504]:
def transform_tf_if(val):
    newval = np.log(np.abs(val) + 1)
    if val < 0:
        return -newval
    else:
        return newval

# TODO: maybe save this for later, when noise can be reduced via dimensionality reduction
log_tf_ij = coordinateMatrixElementwise(tf_ij, transform_tf_if)

a_ij = coordinatematrix_multiply_vector_elementwise(log_tf_ij, entropy_i)

In [37]:
def predict_nobias(ratings, similarity, kind='user'):
    if kind == 'user':
        user_bias = ratings.mean(axis=1)
        ratings = (ratings - user_bias[:, np.newaxis]).copy()
        pred = similarity.dot(ratings) / np.array([np.abs(similarity).sum(axis=1)]).T
        pred += user_bias[:, np.newaxis]
    elif kind == 'item':
        item_bias = ratings.mean(axis=0)
        ratings = (ratings - item_bias[np.newaxis, :]).copy()
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
        pred += item_bias[np.newaxis, :]
        
    return pred

In [93]:
def predict_topk(ratings, similarity, kind='user', k=40):
    pred = np.zeros(ratings.shape)
    if kind == 'user':
        for i in xrange(ratings.shape[0]):
            top_k_users = [np.argsort(similarity[:,i])[:-k-1:-1]]
            for j in xrange(ratings.shape[1]):
                pred[i, j] = similarity[i, :][top_k_users].dot(ratings[:, j][top_k_users]) 
                pred[i, j] /= np.sum(np.abs(similarity[i, :][top_k_users]))
    if kind == 'item':
        for j in xrange(ratings.shape[1]):
            top_k_items = [np.argsort(similarity[:,j])[:-k-1:-1]]
            for i in xrange(ratings.shape[0]):
                pred[i, j] = similarity[j, :][top_k_items].dot(ratings[i, :][top_k_items].T) 
                pred[i, j] /= np.sum(np.abs(similarity[j, :][top_k_items]))        
    
    return pred

In [38]:
from sklearn.metrics import mean_squared_error

def get_mse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [259]:
subreddit_mapper = dict(act.rdd.map(lambda entry: (entry.ordered_id, entry.subreddit)).collect())
idx_mapper = {v: k for k, v in subreddit_mapper.iteritems()}

def idx_to_subreddit(idx):
    return subreddit_mapper[idx + 1]

def subreddit_to_idx(sub):
    return idx_mapper[sub] - 1

In [131]:
def top_k_movies(similarity, movie_idx, k=6):
    return [idx_to_subreddit(x) for x in np.argsort(similarity[movie_idx,:])[:-k-1:-1]]

[u'politics',
 u'television',
 u'worldnews',
 u'pics',
 u'OldSchoolCool',
 u'buildapc']

In [150]:
idx_mapper['DotA2']

15

In [80]:
idx_to_subreddit(0)

u'AskReddit'

In [68]:
get_mse(predict_nobias, test)

TypeError: 'function' object has no attribute '__getitem__'

In [843]:
np.ones((2, 2)).dot(np.ones((2, 1)))

array([[ 2.],
       [ 2.]])

In [756]:
bare_occurrences.toPandas()

    rid     uid  tally
0     1  173573      1
1     2    2510      1
2     3  202843      1
3     4   71343      2
4     5  157008      1
5     6   22113      2
6     6   29476     11
7     6   41712      6
8     6   52207      4
9     6   68993      9
10    6   72151      2
11    6   73394      1
12    6   99328      2
13    6  107223      1
14    6  157950     13
15    6  158256      6
16    6  161058     14
17    6  164299      9
18    6  167056     57
19    6  170651      4
20    6  182984     14
21    6  190719      5
22    6  204970      1
23    6  212901      4
24    6  219743      5
25    6  224240      1
26    6  245974     10
27    6  247719      9
28    6  250489      5
29    6  263115     17
30    6  269211      4
31    6  270545      6
32    6  281333     25
33    6  281404     19
34    6  282960      3
35    6  289078      1
36    6  294241      1
37    6  303966      5
38    6  309368      3
39    6  312009      5
40    6  312679      8
41    6  316296      2
42    6  335521      1
43    7   21702      4
44    7  116855      4
45    7  131891      3
46    7  136727      5
47    7  157950      2
48    7  326961      1
49    7  331361     12
50    7  338770      1
51    8     671      6
52    8  125324      3
53    9    4123      3
54    9  157950      1
55   10  189373      3
56   11   90933      1
57   11  223242      3
58   11  243839      1
59   12   22678      3
    ...     ...    ...

[465503 rows x 3 columns]

In [796]:
a_ij.numCols()

57010L

In [350]:
np.mean(ndmat, axis = 0).shape

(100,)

In [529]:
ndmat = coordinate_matrix_to_ndarr(tf_ij)
#ndmat/=np.mean(ndmat)
ndmat = ndmat.T
ndmat = ndmat[1:, 1:]
train, test = train_test_split(ndmat)
similarity = fast_similarity(train)

In [408]:
def func1(ndmat):
    ndmat = ndmat.copy()
    ndmat /= (epsilon + np.std(ndmat, axis = 0))
    ndmat /= (epsilon + np.std(ndmat.T, axis = 1).T)
    return ndmat

In [411]:
matfuncs = [func1]
def findtop_allmodels(sub_name):
    ndmat = coordinate_matrix_to_ndarr(tf_ij)
    ndmat = ndmat.T
    ndmat = ndmat[1:, 1:]
    
    def do_one(func, ndmat):
        ndmat = func(ndmat)
        train, test = train_test_split(ndmat)
        similarity = fast_similarity(train)

        item_similarity = fast_similarity(train, kind = 'item')
        print top_k_movies(item_similarity, subreddit_to_idx(sub_name), k = 10)
    [do_one(f, ndmat) for f in matfuncs]

In [426]:
import pickle

In [427]:
import md5

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: DeprecationWarning: the md5 module is deprecated; use hashlib instead
  if __name__ == '__main__':

In [539]:
epsilon = 1e-9
ndmat = coordinate_matrix_to_ndarr(tf_ij)
ndmat = ndmat.T
ndmat = ndmat[1:, 1:]

#ndmat = np.mean(ndmat, axis = 0)
ndmat /= (epsilon + np.std(ndmat, axis = 0))
ndmat /= (epsilon + np.std(ndmat.T, axis = 1).T)

train, test = train_test_split(ndmat)
similarity = fast_similarity(ndmat)


item_similarity = fast_similarity(ndmat, kind = 'item')

md5.md5(pickle.dumps(train)).digest()

'\x15\xb3$\xd6\xe6\x1c\xc0o.\xb4U\x8eZ\xa3\x18\xb6'

In [266]:
subreddit_mapper

{1: u'AskReddit',
 2: u'politics',
 3: u'BigBrother',
 4: u'SquaredCircle',
 5: u'The_Donald',
 6: u'gameofthrones',
 7: u'nba',
 8: u'funny',
 9: u'RocketLeagueExchange',
 10: u'videos',
 11: u'worldnews',
 12: u'leagueoflegends',
 13: u'soccer',
 14: u'movies',
 15: u'DotA2',
 16: u'Showerthoughts',
 17: u'news',
 18: u'pics',
 19: u'gaming',
 20: u'MMA',
 21: u'teenagers',
 22: u'todayilearned',
 23: u'hearthstone',
 24: u'pathofexile',
 25: u'pcmasterrace',
 26: u'PUBATTLEGROUNDS',
 27: u'Overwatch',
 28: u'baseball',
 29: u'anime',
 30: u'NYYankees',
 31: u'asoiaf',
 32: u'relationships',
 33: u'Philippines',
 34: u'FireEmblemHeroes',
 35: u'me_irl',
 36: u'aww',
 37: u'gonewild',
 38: u'conspiracy',
 39: u'gifs',
 40: u'BlackPeopleTwitter',
 41: u'DBZDokkanBattle',
 42: u'hiphopheads',
 43: u'rupaulsdragrace',
 44: u'mildlyinteresting',
 45: u'Rainbow6',
 46: u'australia',
 47: u'ethtrader',
 48: u'GlobalOffensive',
 49: u'TheSilphRoad',
 50: u'thebachelor',
 51: u'GlobalOffensiveTrade',
 52: u'Bitcoin',
 53: u'buildapc',
 54: u'teenmom',
 55: u'nfl',
 56: u'Amd',
 57: u'rickandmorty',
 58: u'CringeAnarchy',
 59: u'pokemongo',
 60: u'FFBraveExvius',
 61: u'ffxiv',
 62: u'europe',
 63: u'television',
 64: u'NintendoSwitch',
 65: u'DestinyTheGame',
 66: u'science',
 67: u'legaladvice',
 68: u'2007scape',
 69: u'Mariners',
 70: u'cars',
 71: u'AskOuija',
 72: u'wow',
 73: u'WTF',
 74: u'OldSchoolCool',
 75: u'personalfinance',
 76: u'trees',
 77: u'CasualConversation',
 78: u'FORTnITE',
 79: u'india',
 80: u'france',
 81: u'heroesofthestorm',
 82: u'grandorder',
 83: u'neoliberal',
 84: u'twinpeaks',
 85: u'canada',
 86: u'hockey',
 87: u'teslamotors',
 88: u'Warframe',
 89: u'newzealand',
 90: u'LifeProTips',
 91: u'FashionReps',
 92: u'Games',
 93: u'Guildwars2',
 94: u'Drugs',
 95: u'exmormon',
 96: u'CFB',
 97: u'AdviceAnimals',
 98: u'Torontobluejays',
 99: u'de',
 100: u'AFL'}

In [304]:
subreddit_mapper

{1: u'AskReddit',
 2: u'politics',
 3: u'BigBrother',
 4: u'SquaredCircle',
 5: u'The_Donald',
 6: u'gameofthrones',
 7: u'nba',
 8: u'funny',
 9: u'RocketLeagueExchange',
 10: u'videos',
 11: u'worldnews',
 12: u'leagueoflegends',
 13: u'soccer',
 14: u'movies',
 15: u'DotA2',
 16: u'Showerthoughts',
 17: u'news',
 18: u'pics',
 19: u'gaming',
 20: u'MMA',
 21: u'teenagers',
 22: u'todayilearned',
 23: u'hearthstone',
 24: u'pathofexile',
 25: u'pcmasterrace',
 26: u'PUBATTLEGROUNDS',
 27: u'Overwatch',
 28: u'baseball',
 29: u'anime',
 30: u'NYYankees',
 31: u'asoiaf',
 32: u'relationships',
 33: u'Philippines',
 34: u'FireEmblemHeroes',
 35: u'me_irl',
 36: u'aww',
 37: u'gonewild',
 38: u'conspiracy',
 39: u'gifs',
 40: u'BlackPeopleTwitter',
 41: u'DBZDokkanBattle',
 42: u'hiphopheads',
 43: u'rupaulsdragrace',
 44: u'mildlyinteresting',
 45: u'Rainbow6',
 46: u'australia',
 47: u'ethtrader',
 48: u'GlobalOffensive',
 49: u'TheSilphRoad',
 50: u'thebachelor',
 51: u'GlobalOffensiveTrade',
 52: u'Bitcoin',
 53: u'buildapc',
 54: u'teenmom',
 55: u'nfl',
 56: u'Amd',
 57: u'rickandmorty',
 58: u'CringeAnarchy',
 59: u'pokemongo',
 60: u'FFBraveExvius',
 61: u'ffxiv',
 62: u'europe',
 63: u'television',
 64: u'NintendoSwitch',
 65: u'DestinyTheGame',
 66: u'science',
 67: u'legaladvice',
 68: u'2007scape',
 69: u'Mariners',
 70: u'cars',
 71: u'AskOuija',
 72: u'wow',
 73: u'WTF',
 74: u'OldSchoolCool',
 75: u'personalfinance',
 76: u'trees',
 77: u'CasualConversation',
 78: u'FORTnITE',
 79: u'india',
 80: u'france',
 81: u'heroesofthestorm',
 82: u'grandorder',
 83: u'neoliberal',
 84: u'twinpeaks',
 85: u'canada',
 86: u'hockey',
 87: u'teslamotors',
 88: u'Warframe',
 89: u'newzealand',
 90: u'LifeProTips',
 91: u'FashionReps',
 92: u'Games',
 93: u'Guildwars2',
 94: u'Drugs',
 95: u'exmormon',
 96: u'CFB',
 97: u'AdviceAnimals',
 98: u'Torontobluejays',
 99: u'de',
 100: u'AFL'}

In [333]:
top_k_movies(item_similarity, subreddit_to_idx(u'videos'), k = 10)

[u'videos',
 u'anime',
 u'movies',
 u'Amd',
 u'gaming',
 u'hockey',
 u'hearthstone',
 u'rickandmorty',
 u'news',
 u'ffxiv']

In [444]:
findtop_allmodels('videos')

[u'videos', u'movies', u'anime', u'Amd', u'gaming', u'pics', u'asoiaf', u'rickandmorty', u'AdviceAnimals', u'nba']

In [530]:
import cf_numpy
ndmat = coordinate_matrix_to_ndarr(tf_ij)
ndmat = ndmat.T
ndmat = ndmat[1:, 1:]
subreddit_mapper = dict(act.rdd.map(lambda entry: (entry.ordered_id, entry.subreddit)).collect())

In [535]:
%pdb

Automatic pdb calling has been turned OFF

In [541]:
ndmat = coordinate_matrix_to_ndarr(tf_ij)

In [543]:
train_test_split(ndmat)

ValueError: a must be non-empty

In [537]:
epsilon = 1e-9
ndmat = ndmat.T
ndmat = ndmat[1:, 1:]

# TODO: play with this
ndmat /= (epsilon + np.std(ndmat, axis = 0))
ndmat /= (epsilon + np.std(ndmat.T, axis = 1).T)

train, test = train_test_split(ndmat)
state['item_similarity_full'] = fast_similarity(ndmat, kind = 'item')
state['item_similarity_sampled'] = fast_similarity(train, kind = 'item')
state['subreddit_mapper'] = subreddit_mapper
state['idx_mapper'] = {v: k for k, v in subreddit_mapper.iteritems()}

ValueError: Cannot take a larger sample than population when 'replace=False'

In [567]:
reload(cf_numpy)
cf_numpy.init(ndmat, subreddit_mapper)

In [571]:
cf_numpy.related_subs('movies')

[u'movies',
 u'MMA',
 u'Amd',
 u'AskReddit',
 u'SquaredCircle',
 u'australia',
 u'Games',
 u'teslamotors',
 u'politics',
 u'funny']

In [523]:
top_k_movies(item_similarity, subreddit_to_idx(u'news'), k = 10)

[u'news',
 u'politics',
 u'gameofthrones',
 u'Overwatch',
 u'worldnews',
 u'BlackPeopleTwitter',
 u'DotA2',
 u'funny',
 u'science',
 u'relationships']

In [524]:
top_k_movies(item_similarity, subreddit_to_idx(u'leagueoflegends'), k = 10)

[u'leagueoflegends',
 u'FireEmblemHeroes',
 u'nba',
 u'DotA2',
 u'SquaredCircle',
 u'2007scape',
 u'RocketLeagueExchange',
 u'nfl',
 u'Bitcoin',
 u'ethtrader']

In [297]:
predictions = predict_nobias(train, item_similarity, kind = 'item')

In [300]:
predictions.shape

(227, 100)

In [258]:
idx_to_subreddit(90)

u'FashionReps'

In [224]:
predictions.shape

(227, 101)

In [337]:
a_ij.entries.count()

465503

In [103]:
tf_ij.numCols()

43758L

In [323]:
entropy_i.numRows()

17045L

In [ ]:
logp_ij = coordinateMatrixElementwise

In [203]:
activity_df.toPandas()

    rid  activity
0     1         1
1     2         1
2     3         1
3     4         2
4     5         1
5     6       295
6     7        32
7     8         9
8     9         4
9    10         3
10   11         5
11   12         4
12   13         4
13   14         7
14   15         5
15   16         5
16   17         3
17   18         4
18   19         1
19   20         1
20   21         2
21   22       132
22   23       444
23   24        10
24   25        14
25   26         9
26   27         1
27   28         3
28   29        14
29   30        18
30   31      1665
31   32        24
32   33         1
33   34        74
34   35        27
35   36         1
36   37         1
37   38        53
38   39         2
39   40        10
40   41      7068
41   42        25
42   43         1
43   44        13
44   45       512
45   46         3
46   47        84
47   48       132
48   49        10
49   50         5
50   51         1
51   52        16
52   53       154
53   54      4449
54   55         5
55   56        23
56   57        10
57   58         2
58   59        29
59   60         1
    ...       ...

[17044 rows x 2 columns]

In [15]:
from operator import add

# TODO: check that zero entries are correctly filtered
def coordinateMatrixMultiply(leftmat, rightmat):
    m = leftmat.entries.map(lambda entry: (entry.j, (entry.i, entry.value)))
    n = rightmat.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
    product_entries = m.join(n)\
    .map(lambda tup: ((tup[1][0][0], tup[1][1][0]), (tup[1][0][1] * tup[1][1][1])))\
    .reduceByKey(add)\
    .map(lambda record: MatrixEntry(record[0][0], record[0][1], record[1]))
    
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(product_entries)

In [16]:
def coordinateMatrixAdd(leftmat, rightmat, scalar):
    """
    Return leftmat + scalar * rightmat
    """
    m = leftmat.entries.map(lambda entry: ((entry.i, entry.j), entry.value))
    n = rightmat.entries.map(lambda entry: ((entry.i, entry.j), scalar * entry.value))
    matsum = m.fullOuterJoin(n)\
    .map(lambda tup: MatrixEntry(tup[0][0], tup[0][1],
                                 reduce(add, filter(lambda elt: elt is not None, tup[1]))))
    
    #return matsum
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(matsum)

In [360]:
test_vec = np.array([[1,1,0]]).T
test_vec2 = np.array([[1,0,0]]).T

In [356]:
coordinate_vector_matrix_norm(ndarr_to_coord_array(test_vec))

1.4142135623730951

In [665]:
sort_row_indices_by_distance(a_ij, coordinatematrix_get_row(a_ij, 37))

[33L,
 3L,
 36L,
 6L,
 39L,
 9L,
 42L,
 12L,
 45L,
 15L,
 48L,
 18L,
 51L,
 21L,
 54L,
 24L,
 57L,
 27L,
 30L,
 1L,
 34L,
 4L,
 37L,
 7L,
 40L,
 10L,
 43L,
 13L,
 46L,
 16L,
 49L,
 19L,
 52L,
 22L,
 55L,
 25L,
 58L,
 28L,
 31L,
 32L,
 2L,
 35L,
 5L,
 38L,
 8L,
 41L,
 11L,
 44L,
 14L,
 47L,
 17L,
 50L,
 20L,
 53L,
 23L,
 56L,
 26L,
 59L,
 29L]

In [ ]:
sort_row_indices_by_distance()

In [484]:
test_array5 = 2 * np.array([[1, 0, 0], [1, 1, 0], [0, 0,  1]])
vec = 2 * np.array([[1, 1, 0.001]])

In [487]:
cm = ndarr_to_coord_array(test_array5)
cv = ndarr_to_coord_array(vec)

In [563]:
td = coordinatematrix_get_row(cmat, 8797)

In [564]:
td.entries.count()

1

In [537]:
sort_row_indices_by_distance(cm, cv)

[1L, 0L, 2L]

In [532]:
v = Vectors.sparse(3, [(1, 1), (2, 1)])

In [533]:
v.norm(2)

1.4142135623730951

In [492]:
cv.entries.map(lambda entry: (entry.j, entry.value)).collect()

[(0L, 2.0), (1L, 2.0), (2L, 0.002)]

In [599]:
v = ndarray_to_sparse_vector(np.zeros(5))

In [600]:
sparse_vector_to_ndarray(v)

array([ 0.,  0.,  0.,  0.,  0.])

In [495]:
v = coordinatematrix_to_sparse_vector(cv)

In [466]:
mat_j.fullOuterJoin(vec_j).map(lambda tup: (tup[1][0][0], (tup[1][0][1] - tup[1][1])**2)).collect()

[(1L, 0.0), (0L, 0.0), (1L, 0.0), (2L, 3.992004)]

In [454]:
mat_j.join(vec_j).map(lambda tup: (tup[1][0][0], (tup[1][0][1] - tup[1][1])**2)).reduceByKey(add).collect()

[(0L, 0.0), (1L, 0.0)]

In [453]:
mat_j.join(vec_j).map(lambda tup: (tup[1][0][0], (tup[1][0][1] - tup[1][1])**2)).reduceByKey(add)\
    .map(lambda tup: (tup[1], tup[0])).sortByKey().map(lambda tup: tup[1]).collect()

[0L, 1L]

In [439]:
ndarr_to_coord_array(test_array2).entries.map(lambda entry: (entry.i, [(entry.i, entry.j)]))\
.reduceByKey(add).collect()

[(0L, [(0L, 0L), (0L, 1L), (0L, 2L)]),
 (1L, [(1L, 0L), (1L, 2L), (1L, 3L)]),
 (2L, [(2L, 2L), (2L, 3L)])]

In [361]:
coordinate_matrix_vector_l2(ndarr_to_coord_array(test_vec), ndarr_to_coord_array(test_vec))

0.0

In [371]:
vec1, vec2 = ndarr_to_coord_array(test_vec), ndarr_to_coord_array(test_vec2)

In [372]:
norm1, norm2 = map(coordinate_vector_matrix_norm, [vec1, vec2])

vec1normed = coordinateMatrixScalarMult(vec1, 1./norm1)
vec2normed = coordinateMatrixScalarMult(vec2, 1./norm2)

diff = coordinateMatrixAdd(vec1normed, vec2normed, -1.)

In [373]:
diff.entries.collect()

[MatrixEntry(0, 0, -0.292893218813), MatrixEntry(1, 0, 0.707106781187)]

In [380]:
coordinate_matrix_vector_l2(ndarr_to_coord_array(test_vec), ndarr_to_coord_array(2 * test_vec2))

0.76536686473017945

In [654]:
v.__dict__

{'indices': array([], dtype=int32),
 'size': 5,
 'values': array([], dtype=float64)}

In [379]:
np.linalg.norm(test_vec.T[0] / np.linalg.norm(test_vec) - test_vec2.T[0] / np.linalg.norm(test_vec2))

0.76536686473017945

In [375]:
mat = ndarr_to_coord_array(test_array2)
mat.entries.filter(lambda entry: entry.i == 2).map(lambda entry: collect()

SyntaxError: invalid syntax (<ipython-input-375-dc50cd5dbed2>, line 2)

Implement LSA

Test stuff

In [94]:
test_coordmat2 = ndarr_to_coord_array(test_array2)

In [97]:
test_coordmat2.entries.filter(lambda entry: entry.value != 0).collect()

[MatrixEntry(0, 0, 1.0),
 MatrixEntry(0, 1, 2.0),
 MatrixEntry(0, 2, 3.0),
 MatrixEntry(1, 0, 4.0),
 MatrixEntry(1, 2, 6.0),
 MatrixEntry(1, 3, 1.0),
 MatrixEntry(2, 2, 8.0),
 MatrixEntry(2, 3, 2.0)]

In [244]:
vec = ndarr_to_coord_array(np.array([[2, 2, 2, 2]]))
mat = ndarr_to_coord_array(np.ones((4, 4)))

m = mat.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
v = vec.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
matdiv = m.join(v).map(lambda tup: MatrixEntry(tup[0], tup[1][0][0], float(tup[1][0][1]) / tup[1][1][1]))

In [263]:
eval_matrix_binop(2 * np.ones((4, 4)), 2 * np.ones((4, 4)), coordinate_matrix_elementwise_matrix_multiplication)

(<pyspark.mllib.linalg.distributed.CoordinateMatrix at 0x7fde2b3eba90>,
 array([[ 4.,  4.,  4.,  4.],
        [ 4.,  4.,  4.,  4.],
        [ 4.,  4.,  4.,  4.],
        [ 4.,  4.,  4.,  4.]]))

In [269]:
sumjtest = coordinate_matrix_sumj(ndarr_to_coord_array(np.ones((3, 4))))

In [270]:
coordinate_matrix_to_ndarr(sumjtest)

array([[ 4.],
       [ 4.],
       [ 4.]])

In [296]:
test_array2

array([[ 1.,  2.,  3.,  0.],
       [ 4.,  0.,  6.,  1.],
       [ 0.,  0.,  8.,  2.]])

In [300]:
eval_matrix_binop(test_array2, np.array([[2, 3, 4]]).T, coordinatematrix_multiply_vector_elementwise)

(<pyspark.mllib.linalg.distributed.CoordinateMatrix at 0x7fde20ca84d0>,
 array([[  2.,   4.,   6.,   0.],
        [ 12.,   0.,  18.,   3.],
        [  0.,   0.,  32.,   8.]]))

In [351]:
coordinate_matrix_row(ndarr_to_coord_array(test_array2), 1).entries.collect()

[MatrixEntry(0, 0, 4.0), MatrixEntry(0, 2, 6.0), MatrixEntry(0, 3, 1.0)]

In [125]:
test_add()
test_multiply()

In [78]:
coordinate_matrix_to_ndarr(coordinateMatrixScalarMult(ndarr_to_coord_array(test_array2), 1.5))

array([[  1.5,   3. ,   4.5,   0. ],
       [  6. ,   0. ,   9. ,   1.5],
       [  0. ,   0. ,  12. ,   3. ]])

In [92]:
coordinate_matrix_to_ndarr(coordinateMatrixElementwise(ndarr_to_coord_array(test_array2), lambda n: np.log(n)))

array([[ 0.        ,  0.69314718,  1.09861229,        -inf],
       [ 1.38629436,        -inf,  1.79175947,  0.        ],
       [       -inf,        -inf,  2.07944154,  0.69314718]])

In [93]:
test_array2

array([[ 1.,  2.,  3.,  0.],
       [ 4.,  0.,  6.,  1.],
       [ 0.,  0.,  8.,  2.]])

SVD implementation

In [ ]:
dfi =

In [80]:
from random import normalvariate

In [85]:
cmat.numCols()

347112L

In [83]:
from random import normalvariate
def random_unit(n):
    vec = np.array([normalvariate(0, 1) for _ in range(n)])
    return vec / np.linalg.norm(vec)

def SVD_1D(A, threshold = 1e-10):
    """
    A : CoordinateMatrix
    """
    n, m = A.numRows(), A.numCols()
    x = random_unit(m)
    # TODO finish this

In [ ]:
import numpy as np
from numpy.linalg import norm

def svd_1d(A, epsilon=1e-10):
    ''' The one-dimensional SVD '''
    n, m = A.shape
    x = randomUnitVector(m)
    lastV = None
    currentV = x
    B = np.dot(A.T, A)
 
    iterations = 0
    while True:
        iterations += 1
        lastV = currentV
        currentV = np.dot(B, lastV)
        currentV = currentV / norm(currentV)
 
        if abs(np.dot(currentV, lastV)) > 1 - epsilon:
            print("converged in {} iterations!".format(iterations))
            return currentV

In [62]:
m2 = coordinateMatrixAdd(cmat, cmat, -2)

In [64]:
m2.entries.take(2)

[MatrixEntry(3, 9, -2.0), MatrixEntry(8, 4, -1.0)]

In [25]:
matsum = coordinateMatrixAdd(ndarr_to_coord_array(test_array3), ndarr_to_coord_array(test_array3), -2)

In [29]:
cmat = CoordinateMatrix(bare_occurrences.rdd.map(tuple))

In [43]:
cmat.entries.take(2)

[MatrixEntry(1, 176355, 1.0), MatrixEntry(2, 2547, 1.0)]

In [74]:
mul.entries.count()

595811

In [41]:
cmat.entries.count()

475392

In [45]:
cmb = cmat.toBlockMatrix()

In [47]:
cmi = cmb.toIndexedRowMatrix()

In [51]:
row = cmi.rows.take(1)

[IndexedRow(3558, (347112,[54015,294324],[1.0,2.0]))]

In [144]:
sqlContext.sql("""
select max(uid)
from occurrences
""").toPandas()

   max(uid)
0    341578

[1 rows x 1 columns]

In [57]:
occurrences.toPandas()

               subreddit                author  tally     uid  rid
0              zyramains          TricolorStar      1  176355    1
1                 zylzon       youknowitsyaboy      1    2547    2
2             zweiteliga               Saminka      1  206115    3
3                 zurich          maxwellmaxen      2   72503    4
4                    zsh              __soddit      1  159502    5
5               zootopia        thawed_caveman      2   22475    6
6               zootopia           speisekarte     11   29937    6
7               zootopia          rodrigogirao      6   42380    6
8               zootopia             phobos136      4   53058    6
9               zootopia      midnightopheliac      9   70104    6
10              zootopia            mashinjams      2   73325    6
11              zootopia              maks_orp      1   74585    6
12              zootopia            howieeiwoh      2  100894    6
13              zootopia                ggctuk      1  108920    6
14              zootopia             [deleted]     13  160457    6
15              zootopia   ZootopiaNewsNetwork      6  160767    6
16              zootopia             Yert19943     14  163631    6
17              zootopia            WildeHopps      9  166926    6
18              zootopia      Vulpes_V_Sapiens     57  169715    6
19              zootopia      UneventfulWaffle      4  173379    6
20              zootopia        ThatTrashPanda     14  185928    6
21              zootopia         Stalwartheart      5  193799    6
22              zootopia           Rutgerman95      1  208286    6
23              zootopia               Qwerky3      4  216356    6
24              zootopia          Pax_et_Bonum      5  223292    6
25              zootopia        OmegaBartender      1  227854    6
26              zootopia             LotharHex     10  249955    6
27              zootopia           LiquidSpear      9  251725    6
28              zootopia          Lapis_Mirror      5  254538    6
29              zootopia      JacquesTheBird11     17  267391    6
30              zootopia               INCG779      4  273570    6
31              zootopia         HumanKleinJar      6  274928    6
32              zootopia           Gambler_Tut     25  285881    6
33              zootopia                Galgus     19  285952    6
34              zootopia               Frozia_      3  287534    6
35              zootopia  EvilStevilTheKenevil      1  293754    6
36              zootopia     DrunkenShitposter      1  299010    6
37              zootopia                DL2828      5  308901    6
38              zootopia       Cleaningcaptain      3  314387    6
39              zootopia       Chandeliercrown      5  317076    6
40              zootopia            CatsShadow      8  317759    6
41              zootopia      BunnyMakingAMark      2  321433    6
42              zootopia       A_Stinking_Hobo      1  340935    6
43             zoophilia        the_egoldstein      4   22058    7
44             zoophilia          electricfoxx      4  118713    7
45             zoophilia              ckgjkjj6      3  134005    7
46             zoophilia              caikgoch      5  138922    7
47             zoophilia             [deleted]      2  160457    7
48             zoophilia         AutoModerator      1  332256    7
49             zoophilia           AmoreBestia     12  336724    7
50             zoophilia                 30-30      1  344251    7
51  zooolanderconspiracy           zjwflippers      6     680    8
52  zooolanderconspiracy           daunbugless      3  127323    8
53               zombies            xmadison84      3    4184    9
54               zombies             [deleted]      1  160457    9
55             zombicide             Stormcast      3  192430   10
56           zoieburgher              jdardick      1   92373   11
57           zoieburgher           OrganaChard      3  226841   11
58           zoieburgher         MUFCLEGEND123      1  247782   11
59                 zizek          tetsugakusei      3   23045   12
                     ...                   ...    ...     ...  ...

[475392 rows x 5 columns]

In [89]:
# TODO: why doesn't this match rid?
cmat.numRows()

17085L

In [71]:
import numpy as np

In [74]:
np.array(df['tally']).min()

-632

In [69]:
sqlContext.sql("""
select author, subreddit, sum (score)
from test
group by author, subreddit
""").toPandas()

                  author              subreddit  sum(score)
0          FormulaXDGame               formula1          31
1            HelluvaDeke                 gaming           2
2           WhoKnowsWho2                xboxone          70
3            listentohim        DBZDokkanBattle           1
4               sevenzig               AskOuija          10
5              LumpyPick        leagueoflegends           4
6        volvostupidshit            Philippines           6
7        i_fuck_goats777              AskReddit           2
8        Ineeditunesalot          battlefield_4          11
9        martianlawrence                 movies          11
10       Capt_Tommy_Bags            nottheonion           1
11          KnightVision                 loseit           2
12                l4stfr        gaymersgonewild           1
13             [deleted]                 leaves          27
14            Hansolo510           IndoorGarden           1
15         FlightlessFly               CasualUK           8
16             [deleted]                    CFB          72
17   toolongdidntreadlol           albiononline          11
18        notlaurensorry          AdviceAnimals          30
19             [deleted]            thebachelor         544
20   PAPERCUT_MY_URETHRA             BigBrother          14
21                8bitid                   news           2
22      WillGriggsOnFire                 soccer           5
23         notyet_aTwunk             askgaybros          33
24         LithiumEnergy      EverythingScience           0
25         GeorgFestrunk           TheSilphRoad          16
26             Lichewitz               ihavesex           3
27               sal9002        whatisthisthing          40
28            shutupjoey          gameofthrones           2
29              RMaximus                Gunners           1
30      illuminaughtiess                 loseit          14
31              BetaKush                   pics           1
32             phernoree                    nba           9
33     uhhhhhhhhhhhhhidk                 fakeid           2
34     justalittlebird88          relationships           2
35  YodaGandalfDumbled0r  Chinese_Bootleg_Memes           8
36          Digital_loop                 gaming          12
37    iamtheultimateshoe              AntiJokes           1
38           andrewcooke             cyclocross           5
39              wratther               Electrum           2
40            qldmaroon7          SquaredCircle          54
41          PieceDigital          StreetFighter           4
42              pwnsauce              SeattleWA          12
43                Kim147        climateskeptics          14
44              Cadinsor             Wetshaving           3
45          MINIMAN10001                 MMORPG           4
46              GameVoid               Teachers           1
47            sir_writer              AskReddit           8
48     sugar_free_haribo             The_Donald           1
49               jfchops            hometheater           4
50      Pappy_StrideRite        DarkBitsNPieces           2
51              Djinnobi     BlackPeopleTwitter           8
52              dpeeeezy                   FIFA          -3
53        schoolairplane          SquaredCircle          32
54            SilverMars          IgnorantImgur          21
55             fivejazz5                    DIY           3
56     RetainedByLucifer             The_Donald           9
57               SikeRed     EatCheapAndHealthy           4
58        EdosianGeneral                 TrekRP           2
59               beardko              OWConsole           4
                     ...                    ...         ...

[475392 rows x 3 columns]

In [78]:
sj.toPandas()

                 author author_cakeday author_flair_css_class  \
0         stunt_penguin           None                   None
1             [deleted]           None                   None
2                 69ing           None                   None
3        ArchadianJudge           None         Archadianflair
4              sglville           None                   None
5           NEWORLDODOR           None                   None
6             zachwad22           None                   None
7       lurker4lyfe6969           None                   None
8        SuburbanStoner           None                   None
9            ensanguine           None                   None
10               p-wing           None
11            Lolonnais           None         pennant teamnp
12  askingquestionsblog           None                   None
13          Newbieshoes           None                   None
14            sking1225           None                 cmpunk
15   PM_ME_WEIRD_SMILES           None                   None
16            Alvarez09           None                   None
17          Synchrotr0n           None                   None
18           rudolphsb9           None                   None
19       arbuthnot-lane           None                   None
20               d3fect           None
21       relator_fabula           None             JerseyLogo
22               Knonkh           None                 AUDIEU
23             zxj4k3xz           None
24            [deleted]           None                   None
25            [deleted]           None                   None
26       mcgregorshakes           None                   None
27              kamekai           None                   None
28          KarlOskar12           None                   None
29       CrimsonStone72           None                     SL
30            marflow75           None                   None
31             Jechtael           None                   None
32         ChaoticLogix           None                   None
33                T1PPY           None                   None
34           MdMa4Me247           None                   None
35           Kanyeezy96           None                   None
36             19720703           None                   None
37         flyingmunkie           None
38          spartag00se           None                   None
39         mrhomeless97           None                   None
40               Asquil           None                   None
41            [deleted]           None                   None
42         whammydiddle           None                redsox7
43             horsodox           None                   None
44            [deleted]           None                   None
45             telebofh           None                   None
46     sagittariuscraig           None                   None
47     PM_YOUR_HARDCOCK           None                   None
48         sarahfearing           None                   None
49              twojs1b           None                   None
50              EBJ1990           None            sheet3pos21
51              x00drew           None                   xbox
52              mikemnm           None                   None
53          Blacktivism           None                   None
54          Inoidzervit           None                   None
55             Astonsfw           None                   None
56    the_orange_wizard           None                   None
57        noonespecific           None                 glitch
58            CMikeHunt           None                   DART
59           Cosmodious           None                   None
                    ...            ...                    ...

           author_flair_text  \
0                       None
1                       None
2                       None
3                       None
4                       None
5                       None
6                       None
7                       None
8                       None
9                       None
10               eggball pls
11          Get well Sheever
12                      None
13                      None
14          HEY COLT CABANA!
15                      None
16                      None
17                      None
18                      None
19                      None
20                test-flair
21
22  P&amp;A || Team FGR #284
23                 Multiglam
24                      None
25                      None
26                      None
27                      None
28                      None
29
30                      None
31                      None
32                      None
33                      None
34                      None
35                      None
36                      None
37                    Krytac
38                      None
39                      None
40                      None
41                      None
42                   redsox7
43                      None
44                      None
45                      None
46                      None
47                      None
48                      None
49                      None
50              Brother Nero
51           EquableCargo563
52                      None
53                      None
54                      None
55                      None
56                      None
57
58                 Dartmouth
59                      None
                         ...

                                                 body can_gild collapsed  \
0                  Wheelchairs make amazing dollys :D     True     False
1                                           [removed]     True     False
2          I used to watch the shit out of these guys     True     False
3   http://www.pixiv.net/member_illust.php?mode=me...     True     False
4   On the other yand you could say it's capitalis...     True     False
5   I'm not arguing that making university free an...     True     False
6   I like whisper-whistle obsessively, just barel...     True     False
7             Served in the Chair Force. Can confirm      True     False
8                          Nah, it's good right here      True     False
9   I still stand by it not belonging on the plate...     True     False
10                                            eggball     True     False
11                          bulldong out - ktolguy in     True     False
12  So its utility is not as an inherit base, but ...     True     False
13  Thank you, I was wondering what the fuck kind ...     True     False
14  Is there a triple threat between reigns, joe, ...     True     False
15                     You got giffed in the faaaaace     True     False
16  TIL that when moves are made by Huntington tha...     True     False
17  [Enquanto isso, na mente de todo pirata...](ht...     True     False
18  Either way, not really a great opener if you w...     True     False
19  You seem to really dislike Oslo, yet it seems ...     True     False
20                            i was a mod ignore this     True     False
21                                                thx     True     False
22       Quality &gt; quantity ;)\n\nBut thanks mate!     True     False
23  I don’t know anything that crazy, but I know B...     True     False
24                                          [deleted]     True      True
25                                          [removed]     True     False
26  Those catterpillars are like umbrellas, they a...     True     False
27  Yeah that would look just great trying to cros...     True     False
28  Bonds in osrs aren't MTX, it's a subscription ...     True     False
29                                 What is this from?     True     False
30  You wil need glasses if you want to look direc...     True     False
31                    Is that near [Undisclosed], IL?     True     False
32  Put the SD card into a card reader and you wil...     True     False
33  Yeah, people are making a massive deal about t...     True     False
34  Lmao no offence but where the fuck do you even...     True     False
35  Still no extra news man. It should be out any ...     True     False
36  Invasion of privacy ain't cool, and making jud...     True     False
37  If the mid caps you are refering to are the El...     True     False
38  A combination of [exposure therapy and beta bl...     True     False
39  Yeah haha, I was obviously joking about the ti...     True     False
40                                    You're welcome!     True     False
41                                          [deleted]     True      True
42  I don't think we have trading rights on Shaugh...     True     False
43  Usually, arguments for greatest beings have co...     True     False
44                                          [removed]     True      True
45               What, you don't gopro when you game?     True     False
46  This was on some of my very early lists, upwar...     True     False
47  Sure, but when they change in comics there is ...     True     False
48               That's... a really fair point. Lol!      True     False
49                           Your going to have that.     True     False
50                           Beautiful People was SD.     True     False
51                                 Could you do that?     True     False
52  I have a better offer of purple volts and 20xx...     True     False
53  You don't need uninsured drivers' insurance, i...     True     False
54  NO! It's a trap! Do you see the tail?? The kit...     True     False
55  Is suppose it's preference. Some people may li...     True     False
56  It's like, weebs and shit. Fucking weebs. They...     True     False
57  There's something...oddly nostalgic about the ...     True     False
58                     http://i.imgur.com/YLjVpBt.jpg     True     False
59  It takes some getting used to but I can vouch ...     True     False
                                                  ...      ...       ...

   collapsed_reason  controversiality  created_utc distinguished      edited  \
0              None                 0   1501545600          None       false
1              None                 0   1501545600          None       false
2              None                 0   1501545600          None       false
3              None                 0   1501545600          None       false
4              None                 0   1501545600          None       false
5              None                 0   1501545600          None       false
6              None                 0   1501545600          None       false
7              None                 0   1501545600          None       false
8              None                 0   1501545600          None       false
9              None                 0   1501545600          None       false
10             None                 0   1501545600          None       false
11             None                 1   1501545600          None       false
12             None                 0   1501545600          None       false
13             None                 0   1501545600          None  1501570378
14             None                 0   1501545600          None       false
15             None                 0   1501545600          None       false
16             None                 0   1501545600          None       false
17             None                 0   1501545600          None       false
18             None                 0   1501545600          None       false
19             None                 0   1501545600          None       false
20             None                 0   1501545600          None       false
21             None                 0   1501545600          None       false
22             None                 0   1501545600          None       false
23             None                 0   1501545600          None       false
24             None                 0   1501545600          None       false
25             None                 0   1501545600          None       false
26             None                 0   1501545600          None       false
27             None                 0   1501545600          None       false
28             None                 0   1501545600          None       false
29             None                 0   1501545600          None       false
30             None                 0   1501545600          None       false
31             None                 0   1501545600          None       false
32             None                 0   1501545600          None       false
33             None                 0   1501545600          None       false
34             None                 0   1501545600          None       false
35             None                 0   1501545601          None       false
36             None                 0   1501545601          None       false
37             None                 0   1501545601          None       false
38             None                 0   1501545601          None       false
39             None                 0   1501545601          None       false
40             None                 0   1501545601          None       false
41             None                 0   1501545601          None       false
42             None                 0   1501545601          None       false
43             None                 0   1501545601          None       false
44             None                 0   1501545601          None       false
45             None                 0   1501545601          None       false
46             None                 0   1501545601          None       false
47             None                 0   1501545601          None       false
48             None                 0   1501545601          None       false
49             None                 0   1501545601          None       false
50             None                 0   1501545601          None  1501546310
51             None                 0   1501545601          None       false
52             None                 0   1501545601          None       false
53             None                 0   1501545601          None       false
54             None                 0   1501545601          None       false
55             None                 0   1501545601          None       false
56             None                 0   1501545601          None       false
57             None                 0   1501545601          None       false
58             None                 0   1501545601          None       false
59             None                 0   1501545601          None       false
                ...               ...          ...           ...         ...

    gilded       id is_submitter    link_id   parent_id  retrieved_on  score  \
0        0  dkznc8h        False  t3_6qp8sw  t1_dkzbnn3    1503654247      1
1        0  dkznc8i        False  t3_6qse6i  t1_dkzmgc3    1503654247      2
2        0  dkznc8j        False  t3_6qs8i1   t3_6qs8i1    1503654247      5
3        0  dkznc8k         True  t3_6qsicx   t3_6qsicx    1503654247      2
4        0  dkznc8l        False  t3_6qryxf   t3_6qryxf    1503654247      2
5        0  dkznc8m         True  t3_6qrr1o  t1_dkzn053    1503654247      3
6        0  dkznc8n        False  t3_6qoe6s   t3_6qoe6s    1503654247      1
7        0  dkznc8o        False  t3_6qodwi   t3_6qodwi    1503654247      2
8        0  dkznc8p        False  t3_6qn002  t1_dkz6ig2    1503654247      2
9        0  dkznc8q        False  t3_6qscet  t1_dkzn9vn    1503654247     18
10       0  dkznc8r        False  t3_6qnun3   t3_6qnun3    1503654247      3
11       0  dkznc8s        False  t3_6qsfxy   t3_6qsfxy    1503654247      2
12       0  dkznc8t         True  t3_6qsh6n  t1_dkzn7ng    1503654247      1
13       0  dkznc8u        False  t3_6qs1fy  t1_dkzmwa8    1503654247      7
14       0  dkznc8v        False  t3_6qscjr   t3_6qscjr    1503654247      2
15       0  dkznc8w        False  t3_6qoyi3  t1_dkz03pr    1503654247      3
16       0  dkznc8x        False  t3_6qs1x2  t1_dkzn0yv    1503654247      9
17       0  dkznc8y        False  t3_6qq0sz   t3_6qq0sz    1503654247      1
18       0  dkznc8z        False  t3_6qpilo  t1_dkz4ncr    1503654247      2
19       0  dkznc90        False  t3_6qqpjd  t1_dkze3uz    1503654247      6
20       0  dkznc91         True  t3_6qshyz   t3_6qshyz    1503654247      1
21       0  dkznc92        False  t3_6qr1mn  t1_dkznbgw    1503654247      1
22       0  dkznc93         True  t3_6qlach  t1_dkzl1cu    1503654247      1
23       0  dkznc94        False  t3_6qrtqk  t1_dkzlae7    1503654247      2
24       0  dkznc95        False  t3_6qse42  t1_dkzn4f4    1503654247      1
25       0  dkznc96        False  t3_6qs63f   t3_6qs63f    1503654247      1
26       0  dkznc97        False  t3_6qpa11  t1_dkz65ie    1503654247      2
27       0  dkznc98        False  t3_6qpxyr  t1_dkzmcd1    1503654247     21
28       0  dkznc99        False  t3_6qp3bb  t1_dkz0jjc    1503654247     -3
29       0  dkznc9a        False  t3_6qse83   t3_6qse83    1503654247      6
30       0  dkznc9b        False  t3_6qsh7g   t3_6qsh7g    1503654247      4
31       0  dkznc9c        False  t3_6qma14  t1_dkyzrdn    1503654247      2
32       0  dkznc9d        False  t3_6qo9tw   t3_6qo9tw    1503654247      1
33       0  dkznc9e        False  t3_6qo0sc  t1_dkzgdao    1503654247      3
34       0  dkznc9f        False  t3_6qshm7   t3_6qshm7    1503654247     15
35       0  dkznc9g        False  t3_6qqmbl   t3_6qqmbl    1503654247      2
36       0  dkznc9h        False  t3_6qsgnd   t3_6qsgnd    1503654247     11
37       0  dkznc9i        False  t3_6qqzw7   t3_6qqzw7    1503654247      1
38       0  dkznc9j        False  t3_6qs22k   t3_6qs22k    1503654247      1
39       0  dkznc9k        False  t3_6qqjuh  t1_dkzmp3p    1503654247      2
40       0  dkznc9l        False  t3_6qprq0  t1_dkzn7j9    1503654247      2
41       0  dkznc9m        False  t3_6qqize  t1_dkz9zf9    1503654247      1
42       0  dkznc9n        False  t3_6qdecq  t1_dkwed6p    1503654247      2
43       0  dkznc9o        False  t3_6qquc1  t1_dkzn13m    1503654247      1
44       0  dkznc9p        False  t3_6qoe6s  t1_dkywehw    1503654247      1
45       0  dkznc9q        False  t3_6qoa53  t1_dkyrkot    1503654247     23
46       0  dkznc9r        False  t3_6qq9di   t3_6qq9di    1503654247      3
47       0  dkznc9s        False  t3_6qpkbk  t1_dkzmyeg    1503654247      1
48       0  dkznc9t         True  t3_6qrc7w  t1_dkzj7ss    1503654247      1
49       0  dkznc9u        False  t3_6qsiaj   t3_6qsiaj    1503654247      1
50       0  dkznc9v        False  t3_6qscjr  t1_dkzn9vl    1503654247      0
51       0  dkznc9w         True  t3_6qsaiz  t1_dkzmym4    1503654247      1
52       0  dkznc9x        False  t3_6qsdzd  t1_dkznae4    1503654247      1
53       0  dkznc9y        False  t3_6qmoyb  t1_dkyw0yx    1503654247      1
54       0  dkznc9z        False  t3_6qp2xl   t3_6qp2xl    1503654247      4
55       0  dkznca0        False  t3_6qp7w1   t3_6qp7w1    1503654247      4
56       0  dkznca1        False  t3_6qpgb4  t1_dkze894    1503654247     19
57       0  dkznca2        False  t3_6qrcd4   t3_6qrcd4    1503654247     20
58       0  dkznca3        False  t3_6qr8i0  t1_dkzja17    1503654247      2
59       0  dkznca4        False  t3_6qqpfg   t3_6qqpfg    1503654247      2
       ...      ...          ...        ...         ...           ...    ...

   stickied
0     False ...
1     False ...
2     False ...
3     False ...
4     False ...
5     False ...
6     False ...
7     False ...
8     False ...
9     False ...
10    False ...
11    False ...
12    False ...
13    False ...
14    False ...
15    False ...
16    False ...
17    False ...
18    False ...
19    False ...
20    False ...
21    False ...
22    False ...
23    False ...
24    False ...
25    False ...

In [27]:
rawDF = sqlContext.read.json("s3n://reddit-comments/2015/RC_2015-05", StructType(fields)).persist(StorageLevel.MEMORY_AND_DISK_SER)

In [28]:
rawDF.registerTempTable('comments')

In [574]:
sj.select