In [1]:
import pyspark

In [2]:
import numpy as np

In [62]:
from pyspark.mllib.linalg.distributed import CoordinateMatrix
from pyspark.mllib.linalg.distributed import MatrixEntry
from pyspark.sql.types import *
from operator import add

In [4]:
minimal_fields = [ 
          StructField("author", StringType(), True),
          StructField("score", LongType(), True),
          StructField("controversiality", LongType(), True),
          StructField("subreddit", StringType(), True)]

In [5]:
sj = sqlContext.read.json("s3a://insight-ohoidn/sample3.json", StructType(minimal_fields))

In [5]:
sj.printSchema()

root
 |-- author: string (nullable = true)
 |-- score: long (nullable = true)
 |-- subreddit: string (nullable = true)

In [115]:
sj.toPandas()

                 author  score             subreddit
0         stunt_penguin      1            Filmmakers
1             [deleted]      2           Addons4Kodi
2                 69ing      5         NotTimAndEric
3        ArchadianJudge      2                 Saber
4              sglville      2            The_Donald
5           NEWORLDODOR      3        JordanPeterson
6             zachwad22      1             AskReddit
7       lurker4lyfe6969      2              Military
8        SuburbanStoner      2                trashy
9            ensanguine     18   KitchenConfidential
10               p-wing      3                TagPro
11            Lolonnais      2                 DotA2
12  askingquestionsblog      1      PuzzleAndDragons
13          Newbieshoes      7    SecretWorldLegends
14            sking1225      2         SquaredCircle
15   PM_ME_WEIRD_SMILES      3                Tinder
16            Alvarez09      9                buccos
17          Synchrotr0n      1                brasil
18           rudolphsb9      2              niceguys
19       arbuthnot-lane      6                Norway
20               d3fect      1         d3fecttesting
21       relator_fabula      1             NYYankees
22               Knonkh      1                  acrl
23             zxj4k3xz      2               airsoft
24            [deleted]      1                loseit
25            [deleted]      1                 women
26       mcgregorshakes      2               RoastMe
27              kamekai     21              business
28          KarlOskar12     -3             runescape
29       CrimsonStone72      6           harrypotter
30            marflow75      4          solareclipse
31             Jechtael      2                   SCP
32         ChaoticLogix      1           techsupport
33                T1PPY      3                asoiaf
34           MdMa4Me247     15                  MDMA
35           Kanyeezy96      2          RocketLeague
36             19720703     11                   sex
37         flyingmunkie      1               airsoft
38          spartag00se      1             AskReddit
39         mrhomeless97      2               Trivium
40               Asquil      2                 anime
41            [deleted]      1              politics
42         whammydiddle      2                redsox
43             horsodox      1        DebateReligion
44            [deleted]      1             AskReddit
45             telebofh     23          pcmasterrace
46     sagittariuscraig      3             Retconned
47     PM_YOUR_HARDCOCK      1       comicbookmovies
48         sarahfearing      1             AskReddit
49              twojs1b      1             AskReddit
50              EBJ1990      0         SquaredCircle
51              x00drew      1  RocketLeagueExchange
52              mikemnm      1  RocketLeagueExchange
53          Blacktivism      1               Roadcam
54          Inoidzervit      4               CatGifs
55             Astonsfw      4               Bondage
56    the_orange_wizard     19        shittankiessay
57        noonespecific     20             starbound
58            CMikeHunt      2               halifax
59           Cosmodious      2                  ADHD
                    ...    ...                   ...

[1000000 rows x 3 columns]

In [6]:
sj.registerTempTable('test')

In [52]:
sqlContext.sql('select author from test').toPandas()

                 author
0         stunt_penguin
1             [deleted]
2                 69ing
3        ArchadianJudge
4              sglville
5           NEWORLDODOR
6             zachwad22
7       lurker4lyfe6969
8        SuburbanStoner
9            ensanguine
10               p-wing
11            Lolonnais
12  askingquestionsblog
13          Newbieshoes
14            sking1225
15   PM_ME_WEIRD_SMILES
16            Alvarez09
17          Synchrotr0n
18           rudolphsb9
19       arbuthnot-lane
20               d3fect
21       relator_fabula
22               Knonkh
23             zxj4k3xz
24            [deleted]
25            [deleted]
26       mcgregorshakes
27              kamekai
28          KarlOskar12
29       CrimsonStone72
30            marflow75
31             Jechtael
32         ChaoticLogix
33                T1PPY
34           MdMa4Me247
35           Kanyeezy96
36             19720703
37         flyingmunkie
38          spartag00se
39         mrhomeless97
40               Asquil
41            [deleted]
42         whammydiddle
43             horsodox
44            [deleted]
45             telebofh
46     sagittariuscraig
47     PM_YOUR_HARDCOCK
48         sarahfearing
49              twojs1b
50              EBJ1990
51              x00drew
52              mikemnm
53          Blacktivism
54          Inoidzervit
55             Astonsfw
56    the_orange_wizard
57        noonespecific
58            CMikeHunt
59           Cosmodious
                    ...

[1000000 rows x 1 columns]

In [7]:
occurrences = sqlContext.sql("""
select *, dense_rank() over (order by subreddit desc) as rid 
from  (SELECT subreddit, author, sum(score) as tally,\
    sum(abs(score)) as activity, dense_rank() over (order by author desc) as uid
from test
group by subreddit, author)
where tally!=0
""").persist(StorageLevel.MEMORY_AND_DISK_SER)
occurrences.registerTempTable('occurrences')

In [75]:
def df_most_active_subreddits(k = 1000):
    most_active = sqlContext.sql("""
    select * from
        (select *, dense_rank() over (order by activity desc) as ordered_id
        from (select rid, subreddit, sum(activity) as activity
            from occurrences
            group by rid, subreddit))
    where ordered_id<=%s
""" % k).persist(StorageLevel.MEMORY_AND_DISK_SER)
    most_active.registerTempTable('most_active')
    return most_active

In [76]:
max_numreddits = 100
act = df_most_active_subreddits(max_numreddits)

In [77]:
act.toPandas()

      rid             subreddit  activity  ordered_id
0   16313             AskReddit   1143263           1
1    2571              politics    205263           2
2    5120         gameofthrones    183469           3
3     441                videos    170466           4
4   15973            BigBrother    156128           5
5     900         todayilearned    109733           6
6    3242                   nba     97974           7
7    5109                gaming     95671           8
8    8796            The_Donald     94572           9
9    9396         SquaredCircle     94065          10
10    157             worldnews     92249          11
11   9647        Showerthoughts     89979          12
12   1597                soccer     89922          13
13  15913    BlackPeopleTwitter     79467          14
14   5182                 funny     71400          15
15   2052       rupaulsdragrace     56712          16
16  14579                 DotA2     56291          17
17   3995       leagueoflegends     54405          18
18  10887       PUBATTLEGROUNDS     48084          19
19   2216         relationships     47053          20
20   5003                  gifs     46354          21
21   2691                  pics     46156          22
22   7291                   aww     43756          23
23   3144              niceguys     42981          24
24   7393                asoiaf     40126          25
25   8187                   WTF     40095          26
26   7203              baseball     38205          27
27   4720           hearthstone     37550          28
28   3170                  news     37293          29
29  11996                   MMA     35231          30
30   5607                europe     33584          31
31   1128               teenmom     32340          32
32   1059           thebachelor     31172          33
33  10549        PoliticalHumor     30229          34
34  16734         AdviceAnimals     27649          35
35   3349                movies     27032          36
36   2813           pathofexile     25909          37
37   5245              freefolk     25723          38
38   7553                 anime     25234          39
39  10976             Overwatch     24048          40
40   3491     mildlyinteresting     23958          41
41   2389      quityourbullshit     23146          42
42   2164          rickandmorty     23127          43
43   3953           legaladvice     22535          44
44   3610                me_irl     22504          45
45   7328             australia     22232          46
46   6131             dankmemes     22082          47
47  13526       GlobalOffensive     22008          48
48   6973       blackpeoplegifs     21522          49
49   4662           hiphopheads     21273          50
50   4380     interestingasfuck     21146          51
51  12164           LifeProTips     19540          52
52  14000      FireEmblemHeroes     18722          53
53  13085       HumansBeingBros     18623          54
54    797                trashy     18474          55
55  11215        NintendoSwitch     18107          56
56   6353            conspiracy     17815          57
57  14203  ExpectationVsReality     17815          57
58  15066         CringeAnarchy     17384          58
59   1120            television     17248          59
      ...                   ...       ...         ...

[101 rows x 4 columns]

In [82]:
def df_valid_users(min_subreddits = 2, max_subreddits = 20):
    """
    filter users by the number of subreddits they've posted in, among the above-defined most active subreddits
    """
    most_active_users = sqlContext.sql("""
    select * from
        (select author, count(subreddit) as count
        from 
            (select * from occurrences
            where subreddit in (select subreddit from most_active))
        group by author
        order by count desc)
    where count>=%d and count<=%d""" % (min_subreddits, max_subreddits)).persist(StorageLevel.MEMORY_AND_DISK_SER)
    most_active_users.registerTempTable('most_active_users')
    return most_active_users

In [83]:
act_users = df_valid_users()

In [84]:
act_users.toPandas()

                  author  count
0       Mentioned_Videos     20
1         Agrees_withyou     18
2           JeopardyQBot     16
3        youtubefactsbot     16
4             _youtubot_     15
5         TotesMessenger     14
6              Allenba77     14
7          reelect_rob4d     14
8            RemindMeBot     14
9             LinkFixBot     13
10             AltimaNEO     12
11             Gyazo_Bot     12
12                  up48     11
13  Imthejuggernautbitch     11
14             DivX_Greg     11
15          timezone_bot     11
16    pimpmastahanhduece     10
17         defiantPossum     10
18        DeniseDeNephew     10
19  the_leprechauns_anus     10
20           nomadanthro     10
21            geared4war     10
22              O_Apples     10
23   AsksAStupidQuestion     10
24            mugsybeans      9
25   long_wang_big_balls      9
26             RazorRush      9
27               Okichah      9
28           Clay_Statue      9
29              BuSpocky      9
30      polynomialpusher      9
31                nimo01      9
32         BaKdGoOdZ0203      9
33      Jonnyspringfield      9
34                 311MD      9
35        notimetologout      9
36       lurker4lyfe6969      9
37        One_Hot_Minute      9
38          sneakpeekbot      9
39           LemmysGhost      9
40            rubermnkey      8
41         redpandaeater      8
42             iambluest      8
43        flappingpiegon      8
44    dickfromaccounting      8
45               NukaWax      8
46             GClooney1      8
47             survivage      8
48             wirefires      8
49      seanmonaghan1968      8
50      internet_is_dead      8
51         hutchandstuff      8
52            chevymonza      8
53            MMA_Genius      8
54             Cynistera      8
55                McJock      8
56             thxxx1337      8
57     theoptionexplicit      8
58    SmartestIdiotAlive      8
59           CaptnCarl85      8
                     ...    ...

[17949 rows x 2 columns]

In [85]:
test2 = sqlContext.sql("""
select test.author, test.score, test.controversiality, test.subreddit, most_active.ordered_id as ordered_id
from test
inner join most_active on most_active.subreddit=test.subreddit""")
test2.registerTempTable('test2')

In [86]:
occurrences_pruned = sqlContext.sql("""
select *
from  (SELECT test2.subreddit, author, test2.ordered_id, sum(score) as tally,\
    sum(abs(score)) as activity, dense_rank() over (order by author desc) as uid
    from test2
    where author in (select author from most_active_users)
    group by test2.subreddit, test2.ordered_id, author)
where tally!=0
""").persist(StorageLevel.MEMORY_AND_DISK_SER)
occurrences_pruned.registerTempTable('occurrences_pruned')

In [87]:
occurrences_pruned.toPandas()

             subreddit            author  ordered_id  tally  activity  uid
0               videos             zzzac           4      2         2    1
1       Showerthoughts             zzzac          12      1         1    1
2           The_Donald             zz-zz           9      2         2    2
3              science             zz-zz          68      3         3    2
4               gaming            zywrek           8      1         1    3
5               videos            zywrek           4      1         1    3
6            AskReddit            zywrek           1     15        15    3
7        todayilearned         zyphrinel           6     18        18    4
8            AskReddit         zyphrinel           1      3         3    4
9               videos         zyphrinel           4     19        19    4
10       gameofthrones          zynaerys           3      1         1    5
11     rupaulsdragrace          zynaerys          16      3         3    5
12         legaladvice           zylithi          44      4         4    6
13       relationships           zylithi          20      3         3    6
14           AskReddit           zylithi           1     14        14    6
15            politics           zylithi           2      1         1    6
16           AskReddit         zydeco100           1      2         2    7
17            politics         zydeco100           2      1         1    7
18   mildlyinteresting             zxcsd          41      1         1    8
19                news             zxcsd          29      3         3    8
20              videos             zxcsd           4     18        18    8
21       gameofthrones      zxc123zxc123           3     36        36    9
22                 nba      zxc123zxc123           7    139       139    9
23          television            zwingo          59      2         2   10
24                news            zwingo          29     58        58   10
25              europe   zweifaltspinsel          31      2         2   11
26          The_Donald   zweifaltspinsel           9      6         6   11
27       gameofthrones             zw1ck           3      1         1   12
28            Rainbow6             zw1ck          66      6         6   12
29              videos            zvice9           4      1         1   13
30     GlobalOffensive            zvice9          48      1         1   13
31    ColorizedHistory           zuzahin          88      7         7   14
32     GlobalOffensive           zuzahin          48     61        61   14
33   mildlyinteresting              zuus          41      1         1   15
34        pcmasterrace              zuus          60      5         5   15
35          The_Donald            zuul99           9      1         1   16
36  BlackPeopleTwitter            zuul99          14     28        28   16
37     leagueoflegends  zunawhyyoudothis          18     39        39   17
38               DotA2  zunawhyyoudothis          17      8         8   17
39           worldnews         zulruhkin          11      2         2   18
40                news         zulruhkin          29      9         9   18
41            politics          ztoundas           2     43        43   19
42            niceguys          ztoundas          24     77        77   19
43      PoliticalHumor          ztoundas          34    409       409   19
44           AskReddit            ztejas           1      9         9   20
45  BlackPeopleTwitter            ztejas          14     99        99   20
46       AdviceAnimals        zsiwpoprod          35      4         4   21
47               funny        zsiwpoprod          15     80        80   21
48     oddlysatisfying           zsdonny          91     77        77   22
49              gaming           zsdonny           8     23        23   22
50            Rainbow6           zsdonny          66      6         6   22
51              me_irl           zsdonny          45     11        11   22
52       SquaredCircle         zschneido          10      2         2   23
53           NYYankees         zschneido          79      4         4   23
54               DotA2             zr0iq          17     44        44   24
55         pathofexile             zr0iq          37      1         1   24
56       SquaredCircle          zquest13          10     13        13   25
57          BigBrother          zquest13           5    107       107   25
58                gifs        zpridgen75          21      3         3   26
59               funny        zpridgen75          15      1         1   26
                   ...               ...         ...    ...       ...  ...

[43551 rows x 6 columns]

In [876]:
occurrences_pruned.rdd.map(lambda rec: rec.rid).max()

101

In [52]:
bare_occurrences = sqlContext.sql("""
select ordered_id as rid, uid, tally
from occurrences_pruned
""").persist(StorageLevel.MEMORY_AND_DISK_SER)

In [886]:
occurrences_pruned.toPandas()

             subreddit             author  tally  activity  uid
0               asoiaf          ztupeztar    643       643    1
1   BlackPeopleTwitter          ztpurcell    190       190    2
2       PoliticalHumor           ztoundas    409       409    3
3             politics           ztoundas     43        43    3
4             niceguys           ztoundas     77        77    3
5   BlackPeopleTwitter           zrsmith3    788       788    4
6            AskReddit            zomskii    489       489    5
7                anime            zikari8    209       209    6
8               gaming           zhivagoo    664       664    7
9              science             zhemao    489       489    8
10       gameofthrones         zeppelin23    548       548    9
11           AskReddit         zachary838   2960      2960   10
12            politics              yxing      9         9   11
13            baseball              yxing      2         2   11
14       gameofthrones            yunnhee    510       510   12
15                 nba          yungtatha   1675      1675   13
16           AskReddit               ypsm    600       600   14
17    ColorizedHistory    youtubefactsbot      6         6   15
18            freefolk    youtubefactsbot      5         5   15
19           ethtrader    youtubefactsbot     10        10   15
20       natureismetal    youtubefactsbot     11        11   15
21        starterpacks    youtubefactsbot      1         1   15
22       CringeAnarchy    youtubefactsbot     13        13   15
23                  de    youtubefactsbot      9         9   15
24          cringepics    youtubefactsbot      1         1   15
25      TumblrInAction    youtubefactsbot      6         6   15
26    quityourbullshit    youtubefactsbot      1         1   15
27               ffxiv    youtubefactsbot      2         2   15
28               PandR    youtubefactsbot      3         3   15
29    FireEmblemHeroes    youtubefactsbot      1         1   15
30     oddlysatisfying    youtubefactsbot      1         1   15
31         pathofexile    youtubefactsbot     10        10   15
32       SquaredCircle    youtubefactsbot     20        20   15
33           AskReddit  youfailedthiscity   1214      1214   16
34       SquaredCircle        yognautilus     26        26   17
35           AskReddit        yognautilus   4323      4323   17
36              movies        yognautilus     35        35   17
37              videos        yognautilus      3         3   17
38           AskReddit  yeezyeezywatsgood    437       437   18
39       todayilearned        yeah_but_no    134       134   19
40                 WTF        yeah_but_no     18        18   19
41           AskReddit        yeah_but_no      6         6   19
42     oddlysatisfying        yeah_but_no   1079      1079   19
43     whatisthisthing        yeah_but_no     55        55   19
44                 WTF             yblame    558       558   20
45   interestingasfuck         yampersand   1185      1185   21
46                 aww           xxBellum    597       597   22
47       gameofthrones              xust-    533       533   23
48          BigBrother        xoxoahooves    521       523   24
49            politics           xjayroox    566       566   25
50   interestingasfuck           xjayroox      3         3   25
51                 MMA           xjayroox      2         2   25
52              movies           xjayroox      2         2   25
53      SubredditDrama           xjayroox     23        23   25
54                gifs          xepheratu     18        18   26
55        rickandmorty          xepheratu     20        20   26
56                 WTF          xepheratu    -53        75   26
57              gaming          xepheratu      6         6   26
58       gameofthrones            xejeezy    441       441   27
59       relationships          xRoseable    708       708   28
                   ...                ...    ...       ...  ...

[3081 rows x 5 columns]

In [879]:
bare_occurrences.toPandas()

    rid   uid  tally
0     1    32      6
1     1    40    670
2     1    97     13
3     1   105      4
4     1   140     13
5     1   143     -1
6     1   196    -26
7     1   213   3345
8     1   243      1
9     1   261    792
10    1   275      4
11    1   282   1340
12    1   301    923
13    1   358    460
14    1   394      5
15    1   409    460
16    1   458   1634
17    1   488      5
18    1   522    347
19    1   538      1
20    1   559     -2
21    1   582      2
22    1   632      9
23    1   651      3
24    1   663    392
25    1   679     18
26    1   695    202
27    1   697    874
28    1   743   9571
29    1   746      1
30    1   756    797
31    1   789     12
32    1   801    535
33    1   903      9
34    1   943      1
35    1   985      4
36    1   988      1
37    1   999    686
38    1  1008     75
39    1  1018    441
40    1  1052      3
41    1  1060      6
42    1  1083     -4
43    1  1118     21
44    1  1128    301
45    1  1203     10
46    1  1245    461
47    1  1270   2161
48    1  1320   8772
49    1  1334     -4
50    1  1345     20
51    1  1395   1887
52    1  1402     94
53    1  1417     44
54    1  1460      5
55    1  1535    119
56    1  1564   1037
57    1  1566     72
58    1  1571      3
59    1  1594      1
    ...   ...    ...

[3081 rows x 3 columns]

In [658]:
sqlContext.sql("""
select distinct rid, subreddit
from occurrences2
""").toPandas()

    rid             subreddit
0     1             worldnews
1     2       whatisthisthing
2     3                videos
3     4         todayilearned
4     5     therewasanattempt
5     6               teenmom
6     7            technology
7     8                soccer
8     9                skyrim
9    10               science
10   11       rupaulsdragrace
11   12          rickandmorty
12   13         relationships
13   14              politics
14   15               pokemon
15   16                  pics
16   17       oddlysatisfying
17   18           nonononoyes
18   19              niceguys
19   20                  news
20   21                   nba
21   22     mildlyinteresting
22   23                me_irl
23   24     interestingasfuck
24   25  insanepeoplefacebook
25   26               halifax
26   27                  gifs
27   28           gatekeeping
28   29                gaming
29   30         gameofthrones
30   31                 funny
31   32                europe
32   33       dataisbeautiful
33   34             dankmemes
34   35                bestof
35   36                   aww
36   37                asoiaf
37   38        WritingPrompts
38   39      Whatcouldgowrong
39   40                   WTF
40   41            The_Donald
41   42                 Steam
42   43              StarWars
43   44         SquaredCircle
44   45      SiliconValleyHBO
45   46        Showerthoughts
46   47        PoliticalHumor
47   48       PUBATTLEGROUNDS
48   49              NotMyJob
49   50           LifeProTips
50   51   LateStageCapitalism
51   52                 Jokes
52   53       HumansBeingBros
53   54  ExpectationVsReality
54   55                 DotA2
55   56    BlackPeopleTwitter
56   57            BigBrother
57   58             AskReddit
58   59         AdviceAnimals

[59 rows x 2 columns]

### Subreddit activity:

In [738]:
df_most_active_subreddits(10).toPandas()

     rid      subreddit  activity  ordered_id
0  16313      AskReddit   1143263           1
1   2571       politics    205263           2
2   5120  gameofthrones    183469           3
3    441         videos    170466           4
4  15973     BigBrother    156128           5
5    900  todayilearned    109733           6
6   3242            nba     97974           7
7   5109         gaming     95671           8
8   8796     The_Donald     94572           9
9   9396  SquaredCircle     94065          10

[10 rows x 4 columns]

In [818]:
tf_ij.entries.map(lambda entry: entry.i).distinct().count()

10

In [65]:
gf_i.numCols()

1L

In [67]:
tf_ij.numRows()

101L

In [877]:
act.toPandas()

      rid             subreddit  activity  ordered_id
0   16313             AskReddit   1143263           1
1    2571              politics    205263           2
2    5120         gameofthrones    183469           3
3     441                videos    170466           4
4   15973            BigBrother    156128           5
5     900         todayilearned    109733           6
6    3242                   nba     97974           7
7    5109                gaming     95671           8
8    8796            The_Donald     94572           9
9    9396         SquaredCircle     94065          10
10    157             worldnews     92249          11
11   9647        Showerthoughts     89979          12
12   1597                soccer     89922          13
13  15913    BlackPeopleTwitter     79467          14
14   5182                 funny     71400          15
15   2052       rupaulsdragrace     56712          16
16  14579                 DotA2     56291          17
17   3995       leagueoflegends     54405          18
18  10887       PUBATTLEGROUNDS     48084          19
19   2216         relationships     47053          20
20   5003                  gifs     46354          21
21   2691                  pics     46156          22
22   7291                   aww     43756          23
23   3144              niceguys     42981          24
24   7393                asoiaf     40126          25
25   8187                   WTF     40095          26
26   7203              baseball     38205          27
27   4720           hearthstone     37550          28
28   3170                  news     37293          29
29  11996                   MMA     35231          30
30   5607                europe     33584          31
31   1128               teenmom     32340          32
32   1059           thebachelor     31172          33
33  10549        PoliticalHumor     30229          34
34  16734         AdviceAnimals     27649          35
35   3349                movies     27032          36
36   2813           pathofexile     25909          37
37   5245              freefolk     25723          38
38   7553                 anime     25234          39
39  10976             Overwatch     24048          40
40   3491     mildlyinteresting     23958          41
41   2389      quityourbullshit     23146          42
42   2164          rickandmorty     23127          43
43   3953           legaladvice     22535          44
44   3610                me_irl     22504          45
45   7328             australia     22232          46
46   6131             dankmemes     22082          47
47  13526       GlobalOffensive     22008          48
48   6973       blackpeoplegifs     21522          49
49   4662           hiphopheads     21273          50
50   4380     interestingasfuck     21146          51
51  12164           LifeProTips     19540          52
52  14000      FireEmblemHeroes     18722          53
53  13085       HumansBeingBros     18623          54
54    797                trashy     18474          55
55  11215        NintendoSwitch     18107          56
56   6353            conspiracy     17815          57
57  14203  ExpectationVsReality     17815          57
58  15066         CringeAnarchy     17384          58
59   1120            television     17248          59
      ...                   ...       ...         ...

[101 rows x 4 columns]

In [63]:
# subreddit activity vector
gf_i = CoordinateMatrix(act.rdd.map(lambda row: (row.ordered_id, 0, row.activity)))

# subreddit-activity matrix
tf_ij = CoordinateMatrix(bare_occurrences.rdd.map(tuple))
nusers = tf_ij.numCols()

p_ij = coordinate_matrix_elementwise_vector_division(tf_ij, gf_i)

# TODO figure out nan issues
logp_ij = coordinateMatrixElementwise(p_ij, lambda elt: np.log((abs(elt))/np.log(nusers)))

entropy_i = coordinateMatrixElementwise(coordinate_matrix_sumj(logp_ij), lambda elt: elt + 1) # + 1, but this has to be handled separately to conserve matrix sparsity

In [826]:
def transform_tf_if(val):
    newval = np.log(np.abs(val) + 1)
    if val < 0:
        return -newval
    else:
        return newval

# TODO: maybe save this for later, when noise can be reduced via dimensionality reduction
log_tf_ij = coordinateMatrixElementwise(tf_ij, transform_tf_if)

a_ij = coordinatematrix_multiply_vector_elementwise(log_tf_ij, entropy_i)

In [844]:
def fast_similarity(ratings, epsilon=1e-9):
    # epsilon -> small number for handling dived-by-zero errors
    sim = ratings.dot(ratings.T) + epsilon
    norms = np.array([np.sqrt(np.diagonal(sim))])
    return (sim / norms / norms.T)

In [845]:

def predict_nobias(ratings, similarity, kind='user'):
    if kind == 'user':
        user_bias = ratings.mean(axis=1)
        ratings = (ratings - user_bias[:, np.newaxis]).copy()
        pred = similarity.dot(ratings) / np.array([np.abs(similarity).sum(axis=1)]).T
        pred += user_bias[:, np.newaxis]
    elif kind == 'item':
        item_bias = ratings.mean(axis=0)
        ratings = (ratings - item_bias[np.newaxis, :]).copy()
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
        pred += item_bias[np.newaxis, :]
        
    return pred

In [846]:
from sklearn.metrics import mean_squared_error

def get_mse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [843]:
np.ones((2, 2)).dot(np.ones((2, 1)))

array([[ 2.],
       [ 2.]])

In [756]:
bare_occurrences.toPandas()

    rid     uid  tally
0     1  173573      1
1     2    2510      1
2     3  202843      1
3     4   71343      2
4     5  157008      1
5     6   22113      2
6     6   29476     11
7     6   41712      6
8     6   52207      4
9     6   68993      9
10    6   72151      2
11    6   73394      1
12    6   99328      2
13    6  107223      1
14    6  157950     13
15    6  158256      6
16    6  161058     14
17    6  164299      9
18    6  167056     57
19    6  170651      4
20    6  182984     14
21    6  190719      5
22    6  204970      1
23    6  212901      4
24    6  219743      5
25    6  224240      1
26    6  245974     10
27    6  247719      9
28    6  250489      5
29    6  263115     17
30    6  269211      4
31    6  270545      6
32    6  281333     25
33    6  281404     19
34    6  282960      3
35    6  289078      1
36    6  294241      1
37    6  303966      5
38    6  309368      3
39    6  312009      5
40    6  312679      8
41    6  316296      2
42    6  335521      1
43    7   21702      4
44    7  116855      4
45    7  131891      3
46    7  136727      5
47    7  157950      2
48    7  326961      1
49    7  331361     12
50    7  338770      1
51    8     671      6
52    8  125324      3
53    9    4123      3
54    9  157950      1
55   10  189373      3
56   11   90933      1
57   11  223242      3
58   11  243839      1
59   12   22678      3
    ...     ...    ...

[465503 rows x 3 columns]

In [796]:
a_ij.numCols()

57010L

In [828]:
ndmat = coordinate_matrix_to_ndarr(p_ij)
ndmat/=np.mean(ndmat)

In [835]:
np.max(ndmat)

108065.21478879372

In [337]:
a_ij.entries.count()

465503

In [325]:
tf_ij.numRows()

17045L

In [323]:
entropy_i.numRows()

17045L

In [ ]:
logp_ij = coordinateMatrixElementwise

In [203]:
activity_df.toPandas()

    rid  activity
0     1         1
1     2         1
2     3         1
3     4         2
4     5         1
5     6       295
6     7        32
7     8         9
8     9         4
9    10         3
10   11         5
11   12         4
12   13         4
13   14         7
14   15         5
15   16         5
16   17         3
17   18         4
18   19         1
19   20         1
20   21         2
21   22       132
22   23       444
23   24        10
24   25        14
25   26         9
26   27         1
27   28         3
28   29        14
29   30        18
30   31      1665
31   32        24
32   33         1
33   34        74
34   35        27
35   36         1
36   37         1
37   38        53
38   39         2
39   40        10
40   41      7068
41   42        25
42   43         1
43   44        13
44   45       512
45   46         3
46   47        84
47   48       132
48   49        10
49   50         5
50   51         1
51   52        16
52   53       154
53   54      4449
54   55         5
55   56        23
56   57        10
57   58         2
58   59        29
59   60         1
    ...       ...

[17044 rows x 2 columns]

In [9]:
from operator import add

# TODO: check that zero entries are correctly filtered
def coordinateMatrixMultiply(leftmat, rightmat):
    m = leftmat.entries.map(lambda entry: (entry.j, (entry.i, entry.value)))
    n = rightmat.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
    product_entries = m.join(n)\
    .map(lambda tup: ((tup[1][0][0], tup[1][1][0]), (tup[1][0][1] * tup[1][1][1])))\
    .reduceByKey(add)\
    .map(lambda record: MatrixEntry(record[0][0], record[0][1], record[1]))
    
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(product_entries)

In [121]:
def coordinateMatrixAdd(leftmat, rightmat, scalar):
    """
    Return leftmat + scalar * rightmat
    """
    m = leftmat.entries.map(lambda entry: ((entry.i, entry.j), entry.value))
    n = rightmat.entries.map(lambda entry: ((entry.i, entry.j), scalar * entry.value))
    matsum = m.fullOuterJoin(n)\
    .map(lambda tup: MatrixEntry(tup[0][0], tup[0][1],
                                 reduce(add, filter(lambda elt: elt is not None, tup[1]))))
    
    #return matsum
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(matsum)

In [56]:
def coordinate_matrix_elementwise_vector_division(mat, vec):
    """
    mat : CoordinateMatrix
    
    mat_{ij} -> mat_{ij}/vec_{i}
    """
    m = mat.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
    v = vec.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
    matdiv = m.join(v).map(lambda tup: MatrixEntry(tup[0], tup[1][0][0], float(tup[1][0][1]) / tup[1][1][1]))
    
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(matdiv)

In [260]:
#from operator import multipl
def coordinate_matrix_elementwise_matrix_multiplication(mat1, mat2):
    """
    mat : CoordinateMatrix
    
    return matprod, where matprod_{ij} = mat1_{ij} * mat2_{ij}
    """
    m1 = mat1.entries.map(lambda entry: ((entry.i, entry.j), entry.value))
    m2 = mat2.entries.map(lambda entry: ((entry.i, entry.j), entry.value))
    
    matprod = m1.join(m2).map(lambda tup: MatrixEntry(tup[0][0], tup[0][1], tup[1][0] * tup[1][1]))
    #matprod = m1.join(m2).reduceByKey(lambda tup: MatrixEntry(tup[0][0], tup[0][1], tup[1][0] * tup[1][1]))
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(matprod)

In [60]:
def coordinate_matrix_sumj(mat):
    """
    mat : CoordinateMatrix
    """
    summed_entries = mat.entries.map(lambda entry: (entry.i, entry.value)).reduceByKey(add)\
                          .map(lambda tup: MatrixEntry(tup[0], 0, tup[1]))

    return pyspark.mllib.linalg.distributed.CoordinateMatrix(summed_entries)

In [347]:
def coordinate_matrix_row(mat, i):
    """
    mat : CoordinateMatrix
    
    return the specified row vector
    """
    filtered_entries = mat.entries.filter(lambda entry: entry.i == i).\
        map(lambda entry: MatrixEntry(0, entry.j, entry.value))
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(filtered_entries)

In [355]:
def coordinate_vector_matrix_norm(vec):
    """
    TODO: type checking, confusing name?
    """
    return np.sqrt(vec.entries.map(lambda entry: entry.value**2).sum())

In [360]:
test_vec = np.array([[1,1,0]]).T
test_vec2 = np.array([[1,0,0]]).T

In [356]:
coordinate_vector_matrix_norm(ndarr_to_coord_array(test_vec))

1.4142135623730951

In [358]:
def coordinate_matrix_vector_l2(vec1, vec2):
    """
    Given two vectors of the data type CoordinateMatrix, return L2 norm of vec1/|vec1| - vec2/|vec2|
    """
    norm1, norm2 = map(coordinate_vector_matrix_norm, [vec1, vec2])

    vec1normed = coordinateMatrixScalarMult(vec1, 1./norm1)
    vec2normed = coordinateMatrixScalarMult(vec2, 1./norm2)
    
    diff = coordinateMatrixAdd(vec1normed, vec2normed, -1.)
    return coordinate_vector_matrix_norm(diff)

In [661]:
def sort_row_indices_by_distance(mat, vec):
    """
    Return a list of the row indices of mat sorted by the ascending L2 distance between normalized row vectors and vec/|vec|
    """
    size = mat.numCols()
    row_vectors = mat.entries.map(lambda entry: (entry.i, [(entry.j, entry.value)]))\
        .reduceByKey(add).map(lambda tup: (tup[0], Vectors.sparse(size, tup[1])))
    # TODO replace all 1D CoordinateMatrix instances by local sparse vectors
    compare_vector = vec.entries.map(lambda entry: ('', [(entry.j, entry.value)])).reduceByKey(add)\
        .map(lambda tup: Vectors.sparse(size, tup[1])).collect()[0]
    # TODO check vector normalization
    return row_vectors\
        .map(lambda tup: (tup[1].squared_distance(compare_vector)/(tup[1].norm(2) * compare_vector.norm(2)), tup[0])).sortByKey()\
        .map(lambda tup: tup[1]).collect()

In [553]:
def coordinatematrix_get_row(mat, i):
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(
                    mat.entries.filter(lambda entry: entry.i == i))

In [665]:
sort_row_indices_by_distance(a_ij, coordinatematrix_get_row(a_ij, 37))

[33L,
 3L,
 36L,
 6L,
 39L,
 9L,
 42L,
 12L,
 45L,
 15L,
 48L,
 18L,
 51L,
 21L,
 54L,
 24L,
 57L,
 27L,
 30L,
 1L,
 34L,
 4L,
 37L,
 7L,
 40L,
 10L,
 43L,
 13L,
 46L,
 16L,
 49L,
 19L,
 52L,
 22L,
 55L,
 25L,
 58L,
 28L,
 31L,
 32L,
 2L,
 35L,
 5L,
 38L,
 8L,
 41L,
 11L,
 44L,
 14L,
 47L,
 17L,
 50L,
 20L,
 53L,
 23L,
 56L,
 26L,
 59L,
 29L]

In [ ]:
sort_row_indices_by_distance()

In [484]:
test_array5 = 2 * np.array([[1, 0, 0], [1, 1, 0], [0, 0,  1]])
vec = 2 * np.array([[1, 1, 0.001]])

In [487]:
cm = ndarr_to_coord_array(test_array5)
cv = ndarr_to_coord_array(vec)

In [563]:
td = coordinatematrix_get_row(cmat, 8797)

In [564]:
td.entries.count()

1

In [537]:
sort_row_indices_by_distance(cm, cv)

[1L, 0L, 2L]

In [474]:
from pyspark.mllib.linalg import Vectors, ArrayType

In [532]:
v = Vectors.sparse(3, [(1, 1), (2, 1)])

In [533]:
v.norm(2)

1.4142135623730951

In [492]:
cv.entries.map(lambda entry: (entry.j, entry.value)).collect()

[(0L, 2.0), (1L, 2.0), (2L, 0.002)]

In [493]:
def coordinatematrix_to_sparse_vector(mat):
    """
    mat : CoordinateMatrix
    
    Mat is assumed to have non-zero entries in only the 0th row index
    """
    size = mat.numCols()
    return Vectors.sparse(size, mat.entries.map(lambda entry: (entry.j, entry.value)).collect())

In [495]:
v = coordinatematrix_to_sparse_vector(cv)

In [471]:
mat_j.join(vec_j).

[(0L, ((0L, 2.0), 2.0)),
 (0L, ((1L, 2.0), 2.0)),
 (1L, ((1L, 2.0), 2.0)),
 (2L, (None, 0.002))]

In [466]:
mat_j.fullOuterJoin(vec_j).map(lambda tup: (tup[1][0][0], (tup[1][0][1] - tup[1][1])**2)).collect()

[(1L, 0.0), (0L, 0.0), (1L, 0.0), (2L, 3.992004)]

In [454]:
mat_j.join(vec_j).map(lambda tup: (tup[1][0][0], (tup[1][0][1] - tup[1][1])**2)).reduceByKey(add).collect()

[(0L, 0.0), (1L, 0.0)]

In [453]:
mat_j.join(vec_j).map(lambda tup: (tup[1][0][0], (tup[1][0][1] - tup[1][1])**2)).reduceByKey(add)\
    .map(lambda tup: (tup[1], tup[0])).sortByKey().map(lambda tup: tup[1]).collect()

[0L, 1L]

In [439]:
ndarr_to_coord_array(test_array2).entries.map(lambda entry: (entry.i, [(entry.i, entry.j)]))\
.reduceByKey(add).collect()

[(0L, [(0L, 0L), (0L, 1L), (0L, 2L)]),
 (1L, [(1L, 0L), (1L, 2L), (1L, 3L)]),
 (2L, [(2L, 2L), (2L, 3L)])]

In [361]:
coordinate_matrix_vector_l2(ndarr_to_coord_array(test_vec), ndarr_to_coord_array(test_vec))

0.0

In [371]:
vec1, vec2 = ndarr_to_coord_array(test_vec), ndarr_to_coord_array(test_vec2)

In [372]:
norm1, norm2 = map(coordinate_vector_matrix_norm, [vec1, vec2])

vec1normed = coordinateMatrixScalarMult(vec1, 1./norm1)
vec2normed = coordinateMatrixScalarMult(vec2, 1./norm2)

diff = coordinateMatrixAdd(vec1normed, vec2normed, -1.)

In [373]:
diff.entries.collect()

[MatrixEntry(0, 0, -0.292893218813), MatrixEntry(1, 0, 0.707106781187)]

In [380]:
coordinate_matrix_vector_l2(ndarr_to_coord_array(test_vec), ndarr_to_coord_array(2 * test_vec2))

0.76536686473017945

In [366]:
test_vec2

array([[1],
       [0],
       [0]])

In [379]:
np.linalg.norm(test_vec.T[0] / np.linalg.norm(test_vec) - test_vec2.T[0] / np.linalg.norm(test_vec2))

0.76536686473017945

In [375]:
mat = ndarr_to_coord_array(test_array2)
mat.entries.filter(lambda entry: entry.i == 2).map(lambda entry: collect()

SyntaxError: invalid syntax (<ipython-input-375-dc50cd5dbed2>, line 2)

In [298]:
def coordinatematrix_multiply_vector_elementwise(mat, vec):
    """
    mat : CoordinateMatrix
    vec : CoordinateMatrix
    """
    mat_entries = mat.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
    vec_entries = vec.entries.map(lambda entry: (entry.i, entry.value))

    prod = vec_entries.join(mat_entries).map(lambda tup: MatrixEntry(tup[0], tup[1][1][0], tup[1][0] * tup[1][1][1]))
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(prod)

In [58]:
def coordinateMatrixElementwise(mat, op):
    """
    elt -> op(elt) for each nonzero element elt of the matrix mat
    """
    new_entries = mat.entries.map(lambda entry: MatrixEntry(entry.i, entry.j, op(entry.value)))
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(new_entries)

In [ ]:
def coordinateMatrixElementwiseMultiplication(mat, scalar):
    """
    return scalar * mat
    """
    new_entries = mat.entries.map(lambda entry: MatrixEntry(entry.i, entry.j, scalar * entry.value))
    return pyspark.mllib.linalg.distributed.CoordinateMatrix(new_entries)

Implement LSA

Test stuff

In [94]:
test_coordmat2 = ndarr_to_coord_array(test_array2)

In [97]:
test_coordmat2.entries.filter(lambda entry: entry.value != 0).collect()

[MatrixEntry(0, 0, 1.0),
 MatrixEntry(0, 1, 2.0),
 MatrixEntry(0, 2, 3.0),
 MatrixEntry(1, 0, 4.0),
 MatrixEntry(1, 2, 6.0),
 MatrixEntry(1, 3, 1.0),
 MatrixEntry(2, 2, 8.0),
 MatrixEntry(2, 3, 2.0)]

In [123]:
def coordinate_matrix_to_ndarr(mat):
    size = mat.entries.count()
    elts = mat.entries.take(size)
    arr = np.zeros((mat.numRows(), mat.numCols()))
    for elt in elts:
        arr[elt.i][elt.j] = elt.value
    return arr

def ndarr_to_coord_array(arr):
    entries = []
    for i in range(len(arr)):
        for j in range(len(arr[0])):
            if arr[i][j] != 0:
                entries.append((i, j, arr[i][j]))
    return CoordinateMatrix(sc.parallelize(entries))

test_array = np.array([[1, 2, 3], [4, 0, 6], [0, 0, 8]], dtype = 'float')
test_array2 = np.array([[1, 2, 3, 0], [4, 0, 6, 1], [0, 0, 8, 2]], dtype = 'float')
test_array1d = np.array([[1, 1, 1, 1]])
test_coordmat = ndarr_to_coord_array(test_array)
test_coordmat2 = ndarr_to_coord_array(test_array2)
test_coordmat2_T = ndarr_to_coord_array(test_array2.T)


def test_multiply():
    assert np.all(coordinate_matrix_to_ndarr(coordinateMatrixMultiply(test_coordmat, test_coordmat)) ==\
        np.dot(test_array, test_array))
    assert np.all(coordinate_matrix_to_ndarr(coordinateMatrixMultiply(test_coordmat2, test_coordmat2_T)) ==\
        np.dot(test_array2, test_array2.T))
    #assert coordinate_matrix_to_ndarr(coordinateMatrixMultiply(
    #    ndarr_to_coord_array(test_array1d), ndarr_to_coord_array(test_array1d.T)))
    
test_array3 = np.array([[ 0.63203118,  0.30233108,  0.40677762,  0.58962667],
       [ 0.98905039,  0.9516414 ,  0.20273982,  0.20800506],
       [ 0.7751541 ,  0.94623161,  0.22601002,  0.40736821]])

def test_add():
    m = coordinate_matrix_to_ndarr(
        coordinateMatrixAdd(ndarr_to_coord_array(test_array3), ndarr_to_coord_array(test_array2), -2))
    m2 = test_array3 - 2 * test_array2
    #return m, m2
    assert np.all(m == m2)

In [101]:
coordinateMatrixAdd(ndarr_to_coord_array(test_array3), ndarr_to_coord_array(test_array2), -2)

In [90]:
coordinate_matrix_to_ndarr(coordinateMatrixMultiply(
        ndarr_to_coord_array(test_array1d), ndarr_to_coord_array(test_array1d.T)))

array([[ 4.]])

In [217]:
def eval_matrix_binop(ndarr1, ndarr2, op):
    cmat = op(ndarr_to_coord_array(ndarr1),
             ndarr_to_coord_array(ndarr2))
    ndmat = coordinate_matrix_to_ndarr(cmat)
    return cmat, ndmat

In [244]:
vec = ndarr_to_coord_array(np.array([[2, 2, 2, 2]]))
mat = ndarr_to_coord_array(np.ones((4, 4)))

m = mat.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
v = vec.entries.map(lambda entry: (entry.i, (entry.j, entry.value)))
matdiv = m.join(v).map(lambda tup: MatrixEntry(tup[0], tup[1][0][0], float(tup[1][0][1]) / tup[1][1][1]))

In [263]:
eval_matrix_binop(2 * np.ones((4, 4)), 2 * np.ones((4, 4)), coordinate_matrix_elementwise_matrix_multiplication)

(<pyspark.mllib.linalg.distributed.CoordinateMatrix at 0x7fde2b3eba90>,
 array([[ 4.,  4.,  4.,  4.],
        [ 4.,  4.,  4.,  4.],
        [ 4.,  4.,  4.,  4.],
        [ 4.,  4.,  4.,  4.]]))

In [269]:
sumjtest = coordinate_matrix_sumj(ndarr_to_coord_array(np.ones((3, 4))))

In [270]:
coordinate_matrix_to_ndarr(sumjtest)

array([[ 4.],
       [ 4.],
       [ 4.]])

In [296]:
test_array2

array([[ 1.,  2.,  3.,  0.],
       [ 4.,  0.,  6.,  1.],
       [ 0.,  0.,  8.,  2.]])

In [300]:
eval_matrix_binop(test_array2, np.array([[2, 3, 4]]).T, coordinatematrix_multiply_vector_elementwise)

(<pyspark.mllib.linalg.distributed.CoordinateMatrix at 0x7fde20ca84d0>,
 array([[  2.,   4.,   6.,   0.],
        [ 12.,   0.,  18.,   3.],
        [  0.,   0.,  32.,   8.]]))

In [351]:
coordinate_matrix_row(ndarr_to_coord_array(test_array2), 1).entries.collect()

[MatrixEntry(0, 0, 4.0), MatrixEntry(0, 2, 6.0), MatrixEntry(0, 3, 1.0)]

In [125]:
test_add()
test_multiply()

In [78]:
coordinate_matrix_to_ndarr(coordinateMatrixScalarMult(ndarr_to_coord_array(test_array2), 1.5))

array([[  1.5,   3. ,   4.5,   0. ],
       [  6. ,   0. ,   9. ,   1.5],
       [  0. ,   0. ,  12. ,   3. ]])

In [92]:
coordinate_matrix_to_ndarr(coordinateMatrixElementwise(ndarr_to_coord_array(test_array2), lambda n: np.log(n)))

array([[ 0.        ,  0.69314718,  1.09861229,        -inf],
       [ 1.38629436,        -inf,  1.79175947,  0.        ],
       [       -inf,        -inf,  2.07944154,  0.69314718]])

In [93]:
test_array2

array([[ 1.,  2.,  3.,  0.],
       [ 4.,  0.,  6.,  1.],
       [ 0.,  0.,  8.,  2.]])

SVD implementation

In [ ]:
dfi =

In [80]:
from random import normalvariate

In [85]:
cmat.numCols()

347112L

In [83]:
from random import normalvariate
def random_unit(n):
    vec = np.array([normalvariate(0, 1) for _ in range(n)])
    return vec / np.linalg.norm(vec)

def SVD_1D(A, threshold = 1e-10):
    """
    A : CoordinateMatrix
    """
    n, m = A.numRows(), A.numCols()
    x = random_unit(m)
    # TODO finish this

In [ ]:
import numpy as np
from numpy.linalg import norm

def svd_1d(A, epsilon=1e-10):
    ''' The one-dimensional SVD '''
    n, m = A.shape
    x = randomUnitVector(m)
    lastV = None
    currentV = x
    B = np.dot(A.T, A)
 
    iterations = 0
    while True:
        iterations += 1
        lastV = currentV
        currentV = np.dot(B, lastV)
        currentV = currentV / norm(currentV)
 
        if abs(np.dot(currentV, lastV)) > 1 - epsilon:
            print("converged in {} iterations!".format(iterations))
            return currentV

In [62]:
m2 = coordinateMatrixAdd(cmat, cmat, -2)

In [64]:
m2.entries.take(2)

[MatrixEntry(3, 9, -2.0), MatrixEntry(8, 4, -1.0)]

In [25]:
matsum = coordinateMatrixAdd(ndarr_to_coord_array(test_array3), ndarr_to_coord_array(test_array3), -2)

In [29]:
cmat = CoordinateMatrix(bare_occurrences.rdd.map(tuple))

In [43]:
cmat.entries.take(2)

[MatrixEntry(1, 176355, 1.0), MatrixEntry(2, 2547, 1.0)]

In [74]:
mul.entries.count()

595811

In [41]:
cmat.entries.count()

475392

In [45]:
cmb = cmat.toBlockMatrix()

In [47]:
cmi = cmb.toIndexedRowMatrix()

In [51]:
row = cmi.rows.take(1)

[IndexedRow(3558, (347112,[54015,294324],[1.0,2.0]))]

In [144]:
sqlContext.sql("""
select max(uid)
from occurrences
""").toPandas()

   max(uid)
0    341578

[1 rows x 1 columns]

In [57]:
occurrences.toPandas()

               subreddit                author  tally     uid  rid
0              zyramains          TricolorStar      1  176355    1
1                 zylzon       youknowitsyaboy      1    2547    2
2             zweiteliga               Saminka      1  206115    3
3                 zurich          maxwellmaxen      2   72503    4
4                    zsh              __soddit      1  159502    5
5               zootopia        thawed_caveman      2   22475    6
6               zootopia           speisekarte     11   29937    6
7               zootopia          rodrigogirao      6   42380    6
8               zootopia             phobos136      4   53058    6
9               zootopia      midnightopheliac      9   70104    6
10              zootopia            mashinjams      2   73325    6
11              zootopia              maks_orp      1   74585    6
12              zootopia            howieeiwoh      2  100894    6
13              zootopia                ggctuk      1  108920    6
14              zootopia             [deleted]     13  160457    6
15              zootopia   ZootopiaNewsNetwork      6  160767    6
16              zootopia             Yert19943     14  163631    6
17              zootopia            WildeHopps      9  166926    6
18              zootopia      Vulpes_V_Sapiens     57  169715    6
19              zootopia      UneventfulWaffle      4  173379    6
20              zootopia        ThatTrashPanda     14  185928    6
21              zootopia         Stalwartheart      5  193799    6
22              zootopia           Rutgerman95      1  208286    6
23              zootopia               Qwerky3      4  216356    6
24              zootopia          Pax_et_Bonum      5  223292    6
25              zootopia        OmegaBartender      1  227854    6
26              zootopia             LotharHex     10  249955    6
27              zootopia           LiquidSpear      9  251725    6
28              zootopia          Lapis_Mirror      5  254538    6
29              zootopia      JacquesTheBird11     17  267391    6
30              zootopia               INCG779      4  273570    6
31              zootopia         HumanKleinJar      6  274928    6
32              zootopia           Gambler_Tut     25  285881    6
33              zootopia                Galgus     19  285952    6
34              zootopia               Frozia_      3  287534    6
35              zootopia  EvilStevilTheKenevil      1  293754    6
36              zootopia     DrunkenShitposter      1  299010    6
37              zootopia                DL2828      5  308901    6
38              zootopia       Cleaningcaptain      3  314387    6
39              zootopia       Chandeliercrown      5  317076    6
40              zootopia            CatsShadow      8  317759    6
41              zootopia      BunnyMakingAMark      2  321433    6
42              zootopia       A_Stinking_Hobo      1  340935    6
43             zoophilia        the_egoldstein      4   22058    7
44             zoophilia          electricfoxx      4  118713    7
45             zoophilia              ckgjkjj6      3  134005    7
46             zoophilia              caikgoch      5  138922    7
47             zoophilia             [deleted]      2  160457    7
48             zoophilia         AutoModerator      1  332256    7
49             zoophilia           AmoreBestia     12  336724    7
50             zoophilia                 30-30      1  344251    7
51  zooolanderconspiracy           zjwflippers      6     680    8
52  zooolanderconspiracy           daunbugless      3  127323    8
53               zombies            xmadison84      3    4184    9
54               zombies             [deleted]      1  160457    9
55             zombicide             Stormcast      3  192430   10
56           zoieburgher              jdardick      1   92373   11
57           zoieburgher           OrganaChard      3  226841   11
58           zoieburgher         MUFCLEGEND123      1  247782   11
59                 zizek          tetsugakusei      3   23045   12
                     ...                   ...    ...     ...  ...

[475392 rows x 5 columns]

In [89]:
# TODO: why doesn't this match rid?
cmat.numRows()

17085L

In [71]:
import numpy as np

In [74]:
np.array(df['tally']).min()

-632

In [69]:
sqlContext.sql("""
select author, subreddit, sum (score)
from test
group by author, subreddit
""").toPandas()

                  author              subreddit  sum(score)
0          FormulaXDGame               formula1          31
1            HelluvaDeke                 gaming           2
2           WhoKnowsWho2                xboxone          70
3            listentohim        DBZDokkanBattle           1
4               sevenzig               AskOuija          10
5              LumpyPick        leagueoflegends           4
6        volvostupidshit            Philippines           6
7        i_fuck_goats777              AskReddit           2
8        Ineeditunesalot          battlefield_4          11
9        martianlawrence                 movies          11
10       Capt_Tommy_Bags            nottheonion           1
11          KnightVision                 loseit           2
12                l4stfr        gaymersgonewild           1
13             [deleted]                 leaves          27
14            Hansolo510           IndoorGarden           1
15         FlightlessFly               CasualUK           8
16             [deleted]                    CFB          72
17   toolongdidntreadlol           albiononline          11
18        notlaurensorry          AdviceAnimals          30
19             [deleted]            thebachelor         544
20   PAPERCUT_MY_URETHRA             BigBrother          14
21                8bitid                   news           2
22      WillGriggsOnFire                 soccer           5
23         notyet_aTwunk             askgaybros          33
24         LithiumEnergy      EverythingScience           0
25         GeorgFestrunk           TheSilphRoad          16
26             Lichewitz               ihavesex           3
27               sal9002        whatisthisthing          40
28            shutupjoey          gameofthrones           2
29              RMaximus                Gunners           1
30      illuminaughtiess                 loseit          14
31              BetaKush                   pics           1
32             phernoree                    nba           9
33     uhhhhhhhhhhhhhidk                 fakeid           2
34     justalittlebird88          relationships           2
35  YodaGandalfDumbled0r  Chinese_Bootleg_Memes           8
36          Digital_loop                 gaming          12
37    iamtheultimateshoe              AntiJokes           1
38           andrewcooke             cyclocross           5
39              wratther               Electrum           2
40            qldmaroon7          SquaredCircle          54
41          PieceDigital          StreetFighter           4
42              pwnsauce              SeattleWA          12
43                Kim147        climateskeptics          14
44              Cadinsor             Wetshaving           3
45          MINIMAN10001                 MMORPG           4
46              GameVoid               Teachers           1
47            sir_writer              AskReddit           8
48     sugar_free_haribo             The_Donald           1
49               jfchops            hometheater           4
50      Pappy_StrideRite        DarkBitsNPieces           2
51              Djinnobi     BlackPeopleTwitter           8
52              dpeeeezy                   FIFA          -3
53        schoolairplane          SquaredCircle          32
54            SilverMars          IgnorantImgur          21
55             fivejazz5                    DIY           3
56     RetainedByLucifer             The_Donald           9
57               SikeRed     EatCheapAndHealthy           4
58        EdosianGeneral                 TrekRP           2
59               beardko              OWConsole           4
                     ...                    ...         ...

[475392 rows x 3 columns]

In [78]:
sj.toPandas()

                 author author_cakeday author_flair_css_class  \
0         stunt_penguin           None                   None
1             [deleted]           None                   None
2                 69ing           None                   None
3        ArchadianJudge           None         Archadianflair
4              sglville           None                   None
5           NEWORLDODOR           None                   None
6             zachwad22           None                   None
7       lurker4lyfe6969           None                   None
8        SuburbanStoner           None                   None
9            ensanguine           None                   None
10               p-wing           None
11            Lolonnais           None         pennant teamnp
12  askingquestionsblog           None                   None
13          Newbieshoes           None                   None
14            sking1225           None                 cmpunk
15   PM_ME_WEIRD_SMILES           None                   None
16            Alvarez09           None                   None
17          Synchrotr0n           None                   None
18           rudolphsb9           None                   None
19       arbuthnot-lane           None                   None
20               d3fect           None
21       relator_fabula           None             JerseyLogo
22               Knonkh           None                 AUDIEU
23             zxj4k3xz           None
24            [deleted]           None                   None
25            [deleted]           None                   None
26       mcgregorshakes           None                   None
27              kamekai           None                   None
28          KarlOskar12           None                   None
29       CrimsonStone72           None                     SL
30            marflow75           None                   None
31             Jechtael           None                   None
32         ChaoticLogix           None                   None
33                T1PPY           None                   None
34           MdMa4Me247           None                   None
35           Kanyeezy96           None                   None
36             19720703           None                   None
37         flyingmunkie           None
38          spartag00se           None                   None
39         mrhomeless97           None                   None
40               Asquil           None                   None
41            [deleted]           None                   None
42         whammydiddle           None                redsox7
43             horsodox           None                   None
44            [deleted]           None                   None
45             telebofh           None                   None
46     sagittariuscraig           None                   None
47     PM_YOUR_HARDCOCK           None                   None
48         sarahfearing           None                   None
49              twojs1b           None                   None
50              EBJ1990           None            sheet3pos21
51              x00drew           None                   xbox
52              mikemnm           None                   None
53          Blacktivism           None                   None
54          Inoidzervit           None                   None
55             Astonsfw           None                   None
56    the_orange_wizard           None                   None
57        noonespecific           None                 glitch
58            CMikeHunt           None                   DART
59           Cosmodious           None                   None
                    ...            ...                    ...

           author_flair_text  \
0                       None
1                       None
2                       None
3                       None
4                       None
5                       None
6                       None
7                       None
8                       None
9                       None
10               eggball pls
11          Get well Sheever
12                      None
13                      None
14          HEY COLT CABANA!
15                      None
16                      None
17                      None
18                      None
19                      None
20                test-flair
21
22  P&amp;A || Team FGR #284
23                 Multiglam
24                      None
25                      None
26                      None
27                      None
28                      None
29
30                      None
31                      None
32                      None
33                      None
34                      None
35                      None
36                      None
37                    Krytac
38                      None
39                      None
40                      None
41                      None
42                   redsox7
43                      None
44                      None
45                      None
46                      None
47                      None
48                      None
49                      None
50              Brother Nero
51           EquableCargo563
52                      None
53                      None
54                      None
55                      None
56                      None
57
58                 Dartmouth
59                      None
                         ...

                                                 body can_gild collapsed  \
0                  Wheelchairs make amazing dollys :D     True     False
1                                           [removed]     True     False
2          I used to watch the shit out of these guys     True     False
3   http://www.pixiv.net/member_illust.php?mode=me...     True     False
4   On the other yand you could say it's capitalis...     True     False
5   I'm not arguing that making university free an...     True     False
6   I like whisper-whistle obsessively, just barel...     True     False
7             Served in the Chair Force. Can confirm      True     False
8                          Nah, it's good right here      True     False
9   I still stand by it not belonging on the plate...     True     False
10                                            eggball     True     False
11                          bulldong out - ktolguy in     True     False
12  So its utility is not as an inherit base, but ...     True     False
13  Thank you, I was wondering what the fuck kind ...     True     False
14  Is there a triple threat between reigns, joe, ...     True     False
15                     You got giffed in the faaaaace     True     False
16  TIL that when moves are made by Huntington tha...     True     False
17  [Enquanto isso, na mente de todo pirata...](ht...     True     False
18  Either way, not really a great opener if you w...     True     False
19  You seem to really dislike Oslo, yet it seems ...     True     False
20                            i was a mod ignore this     True     False
21                                                thx     True     False
22       Quality &gt; quantity ;)\n\nBut thanks mate!     True     False
23  I don’t know anything that crazy, but I know B...     True     False
24                                          [deleted]     True      True
25                                          [removed]     True     False
26  Those catterpillars are like umbrellas, they a...     True     False
27  Yeah that would look just great trying to cros...     True     False
28  Bonds in osrs aren't MTX, it's a subscription ...     True     False
29                                 What is this from?     True     False
30  You wil need glasses if you want to look direc...     True     False
31                    Is that near [Undisclosed], IL?     True     False
32  Put the SD card into a card reader and you wil...     True     False
33  Yeah, people are making a massive deal about t...     True     False
34  Lmao no offence but where the fuck do you even...     True     False
35  Still no extra news man. It should be out any ...     True     False
36  Invasion of privacy ain't cool, and making jud...     True     False
37  If the mid caps you are refering to are the El...     True     False
38  A combination of [exposure therapy and beta bl...     True     False
39  Yeah haha, I was obviously joking about the ti...     True     False
40                                    You're welcome!     True     False
41                                          [deleted]     True      True
42  I don't think we have trading rights on Shaugh...     True     False
43  Usually, arguments for greatest beings have co...     True     False
44                                          [removed]     True      True
45               What, you don't gopro when you game?     True     False
46  This was on some of my very early lists, upwar...     True     False
47  Sure, but when they change in comics there is ...     True     False
48               That's... a really fair point. Lol!      True     False
49                           Your going to have that.     True     False
50                           Beautiful People was SD.     True     False
51                                 Could you do that?     True     False
52  I have a better offer of purple volts and 20xx...     True     False
53  You don't need uninsured drivers' insurance, i...     True     False
54  NO! It's a trap! Do you see the tail?? The kit...     True     False
55  Is suppose it's preference. Some people may li...     True     False
56  It's like, weebs and shit. Fucking weebs. They...     True     False
57  There's something...oddly nostalgic about the ...     True     False
58                     http://i.imgur.com/YLjVpBt.jpg     True     False
59  It takes some getting used to but I can vouch ...     True     False
                                                  ...      ...       ...

   collapsed_reason  controversiality  created_utc distinguished      edited  \
0              None                 0   1501545600          None       false
1              None                 0   1501545600          None       false
2              None                 0   1501545600          None       false
3              None                 0   1501545600          None       false
4              None                 0   1501545600          None       false
5              None                 0   1501545600          None       false
6              None                 0   1501545600          None       false
7              None                 0   1501545600          None       false
8              None                 0   1501545600          None       false
9              None                 0   1501545600          None       false
10             None                 0   1501545600          None       false
11             None                 1   1501545600          None       false
12             None                 0   1501545600          None       false
13             None                 0   1501545600          None  1501570378
14             None                 0   1501545600          None       false
15             None                 0   1501545600          None       false
16             None                 0   1501545600          None       false
17             None                 0   1501545600          None       false
18             None                 0   1501545600          None       false
19             None                 0   1501545600          None       false
20             None                 0   1501545600          None       false
21             None                 0   1501545600          None       false
22             None                 0   1501545600          None       false
23             None                 0   1501545600          None       false
24             None                 0   1501545600          None       false
25             None                 0   1501545600          None       false
26             None                 0   1501545600          None       false
27             None                 0   1501545600          None       false
28             None                 0   1501545600          None       false
29             None                 0   1501545600          None       false
30             None                 0   1501545600          None       false
31             None                 0   1501545600          None       false
32             None                 0   1501545600          None       false
33             None                 0   1501545600          None       false
34             None                 0   1501545600          None       false
35             None                 0   1501545601          None       false
36             None                 0   1501545601          None       false
37             None                 0   1501545601          None       false
38             None                 0   1501545601          None       false
39             None                 0   1501545601          None       false
40             None                 0   1501545601          None       false
41             None                 0   1501545601          None       false
42             None                 0   1501545601          None       false
43             None                 0   1501545601          None       false
44             None                 0   1501545601          None       false
45             None                 0   1501545601          None       false
46             None                 0   1501545601          None       false
47             None                 0   1501545601          None       false
48             None                 0   1501545601          None       false
49             None                 0   1501545601          None       false
50             None                 0   1501545601          None  1501546310
51             None                 0   1501545601          None       false
52             None                 0   1501545601          None       false
53             None                 0   1501545601          None       false
54             None                 0   1501545601          None       false
55             None                 0   1501545601          None       false
56             None                 0   1501545601          None       false
57             None                 0   1501545601          None       false
58             None                 0   1501545601          None       false
59             None                 0   1501545601          None       false
                ...               ...          ...           ...         ...

    gilded       id is_submitter    link_id   parent_id  retrieved_on  score  \
0        0  dkznc8h        False  t3_6qp8sw  t1_dkzbnn3    1503654247      1
1        0  dkznc8i        False  t3_6qse6i  t1_dkzmgc3    1503654247      2
2        0  dkznc8j        False  t3_6qs8i1   t3_6qs8i1    1503654247      5
3        0  dkznc8k         True  t3_6qsicx   t3_6qsicx    1503654247      2
4        0  dkznc8l        False  t3_6qryxf   t3_6qryxf    1503654247      2
5        0  dkznc8m         True  t3_6qrr1o  t1_dkzn053    1503654247      3
6        0  dkznc8n        False  t3_6qoe6s   t3_6qoe6s    1503654247      1
7        0  dkznc8o        False  t3_6qodwi   t3_6qodwi    1503654247      2
8        0  dkznc8p        False  t3_6qn002  t1_dkz6ig2    1503654247      2
9        0  dkznc8q        False  t3_6qscet  t1_dkzn9vn    1503654247     18
10       0  dkznc8r        False  t3_6qnun3   t3_6qnun3    1503654247      3
11       0  dkznc8s        False  t3_6qsfxy   t3_6qsfxy    1503654247      2
12       0  dkznc8t         True  t3_6qsh6n  t1_dkzn7ng    1503654247      1
13       0  dkznc8u        False  t3_6qs1fy  t1_dkzmwa8    1503654247      7
14       0  dkznc8v        False  t3_6qscjr   t3_6qscjr    1503654247      2
15       0  dkznc8w        False  t3_6qoyi3  t1_dkz03pr    1503654247      3
16       0  dkznc8x        False  t3_6qs1x2  t1_dkzn0yv    1503654247      9
17       0  dkznc8y        False  t3_6qq0sz   t3_6qq0sz    1503654247      1
18       0  dkznc8z        False  t3_6qpilo  t1_dkz4ncr    1503654247      2
19       0  dkznc90        False  t3_6qqpjd  t1_dkze3uz    1503654247      6
20       0  dkznc91         True  t3_6qshyz   t3_6qshyz    1503654247      1
21       0  dkznc92        False  t3_6qr1mn  t1_dkznbgw    1503654247      1
22       0  dkznc93         True  t3_6qlach  t1_dkzl1cu    1503654247      1
23       0  dkznc94        False  t3_6qrtqk  t1_dkzlae7    1503654247      2
24       0  dkznc95        False  t3_6qse42  t1_dkzn4f4    1503654247      1
25       0  dkznc96        False  t3_6qs63f   t3_6qs63f    1503654247      1
26       0  dkznc97        False  t3_6qpa11  t1_dkz65ie    1503654247      2
27       0  dkznc98        False  t3_6qpxyr  t1_dkzmcd1    1503654247     21
28       0  dkznc99        False  t3_6qp3bb  t1_dkz0jjc    1503654247     -3
29       0  dkznc9a        False  t3_6qse83   t3_6qse83    1503654247      6
30       0  dkznc9b        False  t3_6qsh7g   t3_6qsh7g    1503654247      4
31       0  dkznc9c        False  t3_6qma14  t1_dkyzrdn    1503654247      2
32       0  dkznc9d        False  t3_6qo9tw   t3_6qo9tw    1503654247      1
33       0  dkznc9e        False  t3_6qo0sc  t1_dkzgdao    1503654247      3
34       0  dkznc9f        False  t3_6qshm7   t3_6qshm7    1503654247     15
35       0  dkznc9g        False  t3_6qqmbl   t3_6qqmbl    1503654247      2
36       0  dkznc9h        False  t3_6qsgnd   t3_6qsgnd    1503654247     11
37       0  dkznc9i        False  t3_6qqzw7   t3_6qqzw7    1503654247      1
38       0  dkznc9j        False  t3_6qs22k   t3_6qs22k    1503654247      1
39       0  dkznc9k        False  t3_6qqjuh  t1_dkzmp3p    1503654247      2
40       0  dkznc9l        False  t3_6qprq0  t1_dkzn7j9    1503654247      2
41       0  dkznc9m        False  t3_6qqize  t1_dkz9zf9    1503654247      1
42       0  dkznc9n        False  t3_6qdecq  t1_dkwed6p    1503654247      2
43       0  dkznc9o        False  t3_6qquc1  t1_dkzn13m    1503654247      1
44       0  dkznc9p        False  t3_6qoe6s  t1_dkywehw    1503654247      1
45       0  dkznc9q        False  t3_6qoa53  t1_dkyrkot    1503654247     23
46       0  dkznc9r        False  t3_6qq9di   t3_6qq9di    1503654247      3
47       0  dkznc9s        False  t3_6qpkbk  t1_dkzmyeg    1503654247      1
48       0  dkznc9t         True  t3_6qrc7w  t1_dkzj7ss    1503654247      1
49       0  dkznc9u        False  t3_6qsiaj   t3_6qsiaj    1503654247      1
50       0  dkznc9v        False  t3_6qscjr  t1_dkzn9vl    1503654247      0
51       0  dkznc9w         True  t3_6qsaiz  t1_dkzmym4    1503654247      1
52       0  dkznc9x        False  t3_6qsdzd  t1_dkznae4    1503654247      1
53       0  dkznc9y        False  t3_6qmoyb  t1_dkyw0yx    1503654247      1
54       0  dkznc9z        False  t3_6qp2xl   t3_6qp2xl    1503654247      4
55       0  dkznca0        False  t3_6qp7w1   t3_6qp7w1    1503654247      4
56       0  dkznca1        False  t3_6qpgb4  t1_dkze894    1503654247     19
57       0  dkznca2        False  t3_6qrcd4   t3_6qrcd4    1503654247     20
58       0  dkznca3        False  t3_6qr8i0  t1_dkzja17    1503654247      2
59       0  dkznca4        False  t3_6qqpfg   t3_6qqpfg    1503654247      2
       ...      ...          ...        ...         ...           ...    ...

   stickied
0     False ...
1     False ...
2     False ...
3     False ...
4     False ...
5     False ...
6     False ...
7     False ...
8     False ...
9     False ...
10    False ...
11    False ...
12    False ...
13    False ...
14    False ...
15    False ...
16    False ...
17    False ...
18    False ...
19    False ...
20    False ...
21    False ...
22    False ...
23    False ...
24    False ...
25    False ...

In [27]:
rawDF = sqlContext.read.json("s3n://reddit-comments/2015/RC_2015-05", StructType(fields)).persist(StorageLevel.MEMORY_AND_DISK_SER)

In [28]:
rawDF.registerTempTable('comments')